Repository Openedu-project/OpenEdu: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts, check-types-package-ts, check-config-package-ts, check-i18n-package-ts, check-themes-package-ts, check-assets-package-ts, check-dashboard-package-ts, check-organization-package-ts, check-platform-package-ts, check

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm run typecheck
    check-api-package-ts:
      glob: "packages/api/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-ui-package-ts:
      glob: "packages/ui/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-core-package-ts:
      glob: "packages/core/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-types-package-ts:
      glob: "packages/types/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-config-package-ts:
      glob: "packages/config/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-i18n-package-ts:
      glob: "packages/i18n/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-themes-package-ts:
      glob: "packages/themes/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-assets-package-ts:
      glob: "packages/assets/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-dashboard-package-ts:
      glob: "packages/dashboard/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-organization-package-ts:
      glob: "packages/organization/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-platform-package-ts:
      glob: "packages/platform/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check:
      glob: "*.{json}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm dlx commitlint --edit

feat: auth optimize
  packages/ui/src/shadcn/sonner.tsx
Due: typecheck, check-ui-package-ts

feat: add github actions
  .github/workflows/deployment.yml
  .github/workflows/remove.yml
  .github/workflows/unlock.yml
  apps/organization/.env.development
  apps/organization/.env.openedu101dev
  apps/organization/.env.openedudev
  apps/organization/.env.openedutest
  apps/organization/.env.production
  apps/organization/sst.config.openedu101dev.ts
  apps/organization/sst.config.openedudev.ts
  apps/organization/sst.config.openedutest.ts
  apps/platform/.env.development
  apps/platform/.env.openedu101dev
  apps/platform/.env.openedudev
  apps/platform/.env.openedutest
  apps/platform/.env.production
  apps/platform/sst.config.openedu101dev.ts
  apps/platform/sst.config.openedudev.ts
  apps/platform/sst.config.openedutest.ts
  packages/config/next/index.ts
Due: typecheck

feat: update sst config and github action deployment
  .github/workflows/deployment.yml
  apps/organization/sst.config.ts
Due: typecheck

feat: github action deployment
  .github/workflows/deployment.yml
  .github/workflows/remove.yml
  .github/workflows/unlock.yml
Due: none

chore: update github action deployment workflow
  .github/workflows/deployment.yml
Due: none

chore: update github action deployment workflow
  .github/workflows/deployment.yml
  apps/platform/sst.config.openedutest.ts
Due: typecheck

chore: update github action deployment workflow
  .github/workflows/deployment.yml
  apps/platform/sst.config.openedutest.ts
  packages/api/src/actions/session.ts
Due: typecheck, check-api-package-ts

chore: update github action deployment workflow
  .github/workflows/deployment.yml
  apps/organization/src/app/[locale]/(web)/loading.tsx
  apps/platform/src/app/[locale]/(web)/loading.tsx
  apps/platform/sst.config.openedu101dev.ts
  apps/platform/sst.config.openedudev.ts
  apps/platform/sst.config.openedutest.ts
  apps/platform/sst.config.ts
Due: typecheck

chore: test remove loading
  apps/platform/src/app/[locale]/(web)/loading.tsx
  apps/platform/src/app/[locale]/layout.tsx
Due: typecheck

chore: test remove loading
  packages/api/src/services/i18n.ts
Due: typecheck, check-api-package-ts

chore: test performance
  apps/organization/src/app/[locale]/(web)/loading.tsx
  apps/platform/src/app/[locale]/layout.tsx
  packages/api/src/services/i18n.ts
  packages/ui/src/common/layout/main-layout/main-layout.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

chore: hard code vi lang for ai org
  apps/organization/src/app/[locale]/layout.tsx
  apps/organization/src/config/i18n-request-config.ts
  apps/organization/src/middleware.ts
  packages/api/src/services/i18n.ts
  packages/ui/src/common/language-switcher/language-switcher.tsx
  packages/ui/src/common/layout/main-layout/logo.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

chore: update sst production file name
  apps/organization/sst.config.production.ts
  apps/platform/sst.config.production.ts
Due: typecheck

chore: update sst production file name
  .github/workflows/remove.yml
Due: none

chore: update sst production file name
  apps/organization/sst.config.production.ts
Due: typecheck

chore: update sst production file name
  apps/organization/.env.production
  apps/organization/tsconfig.json
  apps/platform/.env.production
  apps/platform/tsconfig.json
Due: none

chore: update lock
  apps/platform/src/app/[locale]/(web)/_components/blogs-section.tsx
  pnpm-lock.yaml
Due: typecheck

fix: blogs section
  apps/platform/src/app/[locale]/(web)/_components/blogs-section.tsx
Due: typecheck

chore: up serverless to 2048
  apps/organization/sst.config.production.ts
  apps/platform/sst.config.production.ts
Due: typecheck

chore: update package
  apps/organization/package.json
  apps/platform/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

fix: user url
  apps/platform/src/middleware.ts
  packages/ui/src/pages/blog/page.tsx
Due: typecheck, check-ui-package-ts

fix: user url
  apps/organization/src/middleware.ts
  apps/organization/sst.config.production.ts
  apps/platform/src/middleware.ts
  apps/platform/sst.config.production.ts
  packages/ui/src/common/auth/auth-callback-page/auth-callback-page.tsx
Due: typecheck, check-ui-package-ts

fix: user url
  apps/organization/src/middleware.ts
  apps/platform/src/middleware.ts
Due: typecheck

fix: auth
  apps/organization/src/app/api/auth/refresh-token/route.ts
  apps/organization/src/middleware.ts
  apps/platform/src/app/api/auth/refresh-token/route.ts
  apps/platform/src/middleware.ts
  packages/api/src/actions/session.ts
  packages/api/src/utils/fetch.ts
  packages/ui/src/common/auth/auth-callback-page/auth-callback-page.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: auth provider
  packages/ui/src/common/providers/auth-provider.tsx
Due: typecheck, check-ui-package-ts

fix: clear session
  packages/api/src/actions/session.ts
Due: typecheck, check-api-package-ts

fix: remove prefetch new feed
  packages/ui/src/common/layout/main-layout/main-layout.tsx
Due: typecheck, check-ui-package-ts

fix: add prefetch news feed
  packages/ui/src/common/layout/main-layout/main-layout.tsx
Due: typecheck, check-ui-package-ts

fix: remove console and add log oauth token
  apps/platform/src/middleware.ts
  packages/api/src/actions/session.ts
  packages/ui/src/common/auth/auth-callback-page/auth-callback-page.tsx
  packages/ui/src/common/layout/main-layout/main-layout.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

feat: add log
  packages/ui/src/common/auth/auth-callback-page/auth-callback-page.tsx
Due: typecheck, check-ui-package-ts

fix: fix bug popular blog
  apps/platform/src/middleware.ts
  packages/themes/src/aiedu/_actions/blogs.ts
  packages/themes/src/aiedu/_components/blog-grid-server.tsx
  packages/ui/src/common/auth/auth-callback-page/auth-callback-page.tsx
Due: typecheck, check-ui-package-ts, check-themes-package-ts

fix: fix bug popular blog
  packages/themes/src/aiedu/_actions/blogs.ts
Due: typecheck, check-themes-package-ts

feat: update social login
  apps/organization/.env.development
  apps/organization/.env.openedu101dev
  apps/organization/.env.openedudev
  apps/organization/.env.openedutest
  apps/organization/src/app/api/auth/callback/route.ts
  apps/organization/src/app/api/auth/refresh-token/route.ts
  apps/organization/src/middleware.ts
  apps/platform/.env.development
  apps/platform/.env.openedu101dev
  apps/platform/.env.openedudev
  apps/platform/.env.openedutest
  apps/platform/src/app/api/auth/callback/route.ts
  apps/platform/src/app/api/auth/refresh-token/route.ts
  apps/platform/src/middleware.ts
  packages/api/package.json
  packages/api/src/actions/auth.ts
  packages/api/src/actions/session.ts
  packages/api/src/api-route/auth-callback.ts
  packages/api/src/api-route/index.ts
  packages/api/src/api-route/refresh-token.ts
  packages/api/src/index.ts
  packages/api/src/utils/ajax-upload.ts
  packages/api/src/utils/endpoints.ts
  packages/api/src/utils/fetch.ts
  packages/api/src/utils/referrer-origin.ts
  packages/api/src/utils/session.ts
  packages/api/src/utils/social-auth.ts
  packages/config/next/index.ts
  packages/core/src/utils/cookie.ts
  packages/core/tsconfig.build.json
  packages/ui/src/common/auth/auth-callback-page/auth-callback-page.tsx
  packages/ui/src/common/auth/auth-social-buttons/auth-social-buttons.tsx
  packages/ui/src/common/auth/email-verify-page/email-verify-actions.tsx
  packages/ui/src/components/pdf-certificate/helper.ts
  packages/ui/src/hooks/socket/useSocketAuth.ts
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts

chore: log info instead
  packages/api/src/actions/session.ts
  packages/api/src/api-route/auth-callback.ts
  packages/api/src/utils/referrer-origin.ts
Due: typecheck, check-api-package-ts

chore: test save cookie auth callback
  packages/api/src/api-route/auth-callback.ts
Due: typecheck, check-api-package-ts

chore: change session cookie samesite to lax
  packages/api/src/actions/session.ts
  packages/api/src/api-route/auth-callback.ts
  packages/api/src/api-route/refresh-token.ts
Due: typecheck, check-api-package-ts

fix: custom domain token
  packages/api/src/actions/session.ts
  packages/api/src/api-route/auth-callback.ts
  packages/ui/src/common/providers/auth-provider.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: fix translate missing on other languages
  packages/api/src/hooks/useSystemConfig.ts
Due: typecheck, check-api-package-ts
