Repository Openedu-project/OpenEdu: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts, check-types-package-ts, check-config-package-ts, check-i18n-package-ts, check-themes-package-ts, check-assets-package-ts, check-dashboard-package-ts, check-organization-package-ts, check-platform-package-ts, check

typecheck:
  run: pnpm run typecheck

check-api-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-ui-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-core-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-types-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-config-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-i18n-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-themes-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-assets-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-dashboard-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-organization-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-platform-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

fix: change dashboard, expert section #306
  packages/assets/src/images/theme/aiedu/ai-course.png
  packages/assets/src/images/theme/aiedu/bronze-trophy.png
  packages/assets/src/images/theme/aiedu/gold-trophy.png
  packages/assets/src/images/theme/aiedu/silver-trophy.png
  packages/i18n/src/messages/themes/aiedu/homepage.ts
  packages/i18n/src/messages/themes/aiedu/introduction.ts
  packages/themes/src/_config/theme-page-initial/aiedu/homepage.ts
  packages/themes/src/_config/theme-page-initial/aiedu/introduction.ts
  packages/themes/src/_config/theme-page-initial/core/auth.ts
  packages/themes/src/aiedu/_components/expert-card.tsx
  packages/themes/src/aiedu/_components/statistics-banner.tsx
  packages/themes/src/aiedu/_components/trophy-card.tsx
  packages/themes/src/aiedu/_utils/constants.ts
  packages/themes/src/aiedu/homepage/aiedu-dashboard/dashboard.tsx
  packages/themes/src/aiedu/homepage/aiedu-expert/expert.tsx
  packages/themes/src/aiedu/introduction/aiedu-expert/expert.tsx
  packages/themes/src/aiedu/introduction/aiedu-map/map.tsx
  packages/themes/src/aiedu/introduction/aiedu-vision-mission/vision-mission.tsx
  packages/themes/src/aiedu/introduction/introduction.tsx
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

fix: fix ui homepage #305
  packages/assets/src/images/theme/aiedu/bronze-trophy.png
  packages/assets/src/images/theme/aiedu/silver-trophy.png
  packages/themes/src/aiedu/_utils/constants.ts
Due: typecheck, check-themes-package-ts

feat: ranking page #307
  apps/organization/.env.development
  apps/organization/src/app/[locale]/(web)/ranking/[slug]/_components/ranking-detail-outline.tsx
  apps/organization/src/app/[locale]/(web)/ranking/[slug]/page.tsx
  apps/organization/src/app/[locale]/(web)/ranking/page.tsx
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useAIEdu.ts
  packages/api/src/services/ai-edu.ts
  packages/api/src/services/index.ts
  packages/api/src/types/ai-edu.ts
  packages/api/src/types/filter.ts
  packages/api/src/types/index.ts
  packages/api/src/utils/endpoints.ts
  packages/i18n/src/messages/themes/aiedu/homepage.ts
  packages/i18n/src/messages/themes/aiedu/index.ts
  packages/i18n/src/messages/themes/aiedu/ranking.ts
  packages/themes/src/_config/theme-page-initial/aiedu/homepage.ts
  packages/themes/src/_config/theme-page-initial/aiedu/index.ts
  packages/themes/src/_config/theme-page-initial/aiedu/ranking.ts
  packages/themes/src/_types/theme-page/props.ts
  packages/themes/src/_utils/theme-import.ts
  packages/themes/src/aiedu/_components/circular-percentage-chart.tsx
  packages/themes/src/aiedu/_components/dashboard-section.tsx
  packages/themes/src/aiedu/_components/index.ts
  packages/themes/src/aiedu/_components/ranking-table.tsx
  packages/themes/src/aiedu/_components/statistics-banner.tsx
  packages/themes/src/aiedu/homepage/aiedu-dashboard/dashboard-client.tsx
  packages/themes/src/aiedu/homepage/aiedu-dashboard/dashboard-server.tsx
  packages/themes/src/aiedu/homepage/aiedu-dashboard/dashboard.tsx
  packages/themes/src/aiedu/homepage/aiedu-expert/expert.tsx
  packages/themes/src/aiedu/homepage/homepage.tsx
  packages/themes/src/aiedu/index.ts
  packages/themes/src/aiedu/introduction/aiedu-expert/expert.tsx
  packages/themes/src/aiedu/ranking/aiedu-dashboard/dashboard-client.tsx
  packages/themes/src/aiedu/ranking/aiedu-dashboard/dashboard-server.tsx
  packages/themes/src/aiedu/ranking/aiedu-dashboard/index.ts
  packages/themes/src/aiedu/ranking/ranking.tsx
  packages/themes/src/aiedu/type.ts
  packages/themes/src/index.ts
Due: typecheck, check-api-package-ts, check-i18n-package-ts, check-themes-package-ts

fix: loading history #309
  packages/ui/src/components/conversation/history/ai-history.tsx
  packages/ui/src/components/conversation/history/top-lastest-history.tsx
Due: typecheck, check-ui-package-ts

fix: mutate history and show plan description #309
  packages/api/src/types/user.ts
  packages/i18n/src/messages/features/ai-assistant.ts
  packages/ui/src/components/conversation/history/ai-history.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-i18n-package-ts

fix: status download code block button
  packages/ui/src/components/conversation/message/code-download-button.tsx
Due: typecheck, check-ui-package-ts

fix: handle play-to-earn button type started_lesson
  packages/i18n/src/messages/pages/course-outline.ts
  packages/ui/src/pages/course/_components/play-to-earn/helpers.ts
  packages/ui/src/pages/course/_components/play-to-earn/play-to-earn.tsx
  packages/ui/src/pages/course/_components/play-to-earn/require-learning-complete.tsx
  packages/ui/src/pages/learning/_context/index.ts
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

fix: remove unused code
  packages/ui/src/components/conversation/history/ai-history.tsx
  packages/ui/src/components/conversation/history/history-item.tsx
  packages/ui/src/components/conversation/utils.tsx
Due: typecheck, check-ui-package-ts

fix: change field name of plan #309
  packages/api/src/types/user.ts
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: form relation
  packages/ui/src/pages/course/_components/play-to-earn/play-to-earn.tsx
Due: typecheck, check-ui-package-ts

fix: play game button not display
  packages/ui/src/pages/course/_components/play-to-earn/helpers.ts
  packages/ui/src/pages/course/_components/play-to-earn/play-to-earn.tsx
Due: typecheck, check-ui-package-ts

feat: add trend,benefit section at intro page #305
  packages/assets/src/images/theme/aiedu/ai-course.png
  packages/assets/src/images/theme/aiedu/global.png
  packages/i18n/src/messages/themes/aiedu/introduction.ts
  packages/themes/src/_config/theme-page-initial/aiedu/introduction.ts
  packages/themes/src/_types/theme-page/props.ts
  packages/themes/src/_types/theme-page/sections.ts
  packages/themes/src/_utils/theme-import.ts
  packages/themes/src/aiedu/_components/ranking-table.tsx
  packages/themes/src/aiedu/_components/stats-card.tsx
  packages/themes/src/aiedu/_components/trend-card.tsx
  packages/themes/src/aiedu/homepage/aiedu-expert/expert.tsx
  packages/themes/src/aiedu/homepage/aiedu-features/features.tsx
  packages/themes/src/aiedu/introduction/aiedu-benefit/benefit.tsx
  packages/themes/src/aiedu/introduction/aiedu-benefit/index.ts
  packages/themes/src/aiedu/introduction/aiedu-expert/expert.tsx
  packages/themes/src/aiedu/introduction/aiedu-map/map.tsx
  packages/themes/src/aiedu/introduction/aiedu-trend/index.ts
  packages/themes/src/aiedu/introduction/aiedu-trend/trend.tsx
  packages/themes/src/aiedu/introduction/aiedu-vision-mission/vision-mission.tsx
  packages/themes/src/aiedu/introduction/index.ts
  packages/themes/src/aiedu/introduction/introduction.tsx
  packages/themes/src/aiedu/type.ts
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

feat: ai openedu gallery
  packages/themes/src/_config/theme-page-initial/aiedu/homepage.ts
  packages/themes/src/aiedu/homepage/aiedu-gallery/gallery.tsx
Due: typecheck, check-themes-package-ts

feat: add google analytics for org
  apps/organization/src/app/[locale]/layout.tsx
Due: typecheck

fix: rewrite message, reset agent #309
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/utils.tsx
Due: typecheck, check-ui-package-ts

feat: update ai sidebar #309
  packages/ui/src/components/conversation/constants.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
Due: typecheck, check-ui-package-ts

feat: ga4
  apps/organization/src/app/[locale]/layout.tsx
Due: typecheck

feat: ai banner #309
  apps/platform/src/app/[locale]/(web)/page.tsx
  packages/assets/src/icons/cross-star.tsx
  packages/assets/src/icons/index.ts
  packages/config/tailwindcss/styles/global.css
  packages/i18n/src/messages/features/ai-assistant.ts
  packages/ui/src/components/conversation/ai-banner.tsx
  packages/ui/src/components/conversation/index.ts
Due: typecheck, check-ui-package-ts, check-i18n-package-ts, check-assets-package-ts

feat: hidden top lastest history action in history page #309
  packages/ui/src/common/layout/ai-layout/ai-sidebar-layout.tsx
  packages/ui/src/components/conversation/history/history-item.tsx
  packages/ui/src/components/conversation/history/top-lastest-history.tsx
Due: typecheck, check-ui-package-ts

feat: update UI ai sidebar in collapse case #309
  packages/config/tailwindcss/styles/global.css
  packages/ui/src/common/layout/ai-layout/ai-sidebar-layout.tsx
  packages/ui/src/components/conversation/ai-banner.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar.tsx
  packages/ui/src/shadcn/tooltip.tsx
Due: typecheck, check-ui-package-ts

feat: add meta data
  packages/i18n/src/messages/themes/theme-metadata.ts
  packages/themes/src/_components/theme-settings/theme-metadata/index.tsx
  packages/themes/src/_types/theme-metadata.ts
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

fix: #350 balances not shown correctly by env
  apps/platform/.env.openedu101dev
  packages/api/src/services/near.ts
Due: typecheck, check-api-package-ts

feat: schedule
  apps/organization/src/app/[locale]/(web)/schedule/page.tsx
Due: typecheck

feat: schedule
  apps/organization/src/app/[locale]/admin/(layout-sidebar)/schedule/page.tsx
Due: typecheck

fix: update UI #306
  apps/organization/.env.openedudev
  packages/themes/src/aiedu/_components/ranking-table.tsx
  packages/themes/src/aiedu/_components/stats-card.tsx
  packages/themes/src/aiedu/_components/trend-card.tsx
  packages/themes/src/aiedu/homepage/aiedu-expert/expert.tsx
  packages/themes/src/aiedu/homepage/aiedu-features/features.tsx
  packages/themes/src/aiedu/introduction/aiedu-benefit/benefit.tsx
  packages/themes/src/aiedu/introduction/aiedu-expert/expert.tsx
  packages/themes/src/aiedu/introduction/aiedu-map/map.tsx
  packages/themes/src/aiedu/introduction/aiedu-trend/trend.tsx
  packages/themes/src/aiedu/introduction/aiedu-vision-mission/vision-mission.tsx
  packages/themes/src/aiedu/introduction/introduction.tsx
Due: typecheck, check-themes-package-ts

fix: fix UI #306
  packages/api/src/utils/endpoints.ts
  packages/i18n/src/messages/themes/aiedu/homepage.ts
  packages/i18n/src/messages/themes/aiedu/introduction.ts
  packages/themes/src/_config/theme-page-initial/aiedu/homepage.ts
  packages/themes/src/_config/theme-page-initial/aiedu/introduction.ts
  packages/themes/src/aiedu/_components/button.tsx
  packages/themes/src/aiedu/_components/circular-percentage-chart.tsx
  packages/themes/src/aiedu/_components/course-card.tsx
  packages/themes/src/aiedu/homepage/aiedu-features/features.tsx
  packages/themes/src/aiedu/introduction/aiedu-features/features.tsx
Due: typecheck, check-api-package-ts, check-i18n-package-ts, check-themes-package-ts

fix: add section mentor, teacher #305
  packages/i18n/src/messages/themes/aiedu/homepage.ts
  packages/i18n/src/messages/themes/aiedu/introduction.ts
  packages/i18n/src/messages/themes/aiedu/ranking.ts
  packages/themes/src/_config/theme-page-initial/aiedu/homepage.ts
  packages/themes/src/_config/theme-page-initial/aiedu/introduction.ts
  packages/themes/src/_types/theme-page/props.ts
  packages/themes/src/_types/theme-page/sections.ts
  packages/themes/src/_utils/theme-import.ts
  packages/themes/src/aiedu/_components/course-card.tsx
  packages/themes/src/aiedu/_components/expert-card.tsx
  packages/themes/src/aiedu/_components/ranking-table.tsx
  packages/themes/src/aiedu/homepage/aiedu-cert/cert.tsx
  packages/themes/src/aiedu/homepage/aiedu-mentor/index.ts
  packages/themes/src/aiedu/homepage/aiedu-mentor/mentor.tsx
  packages/themes/src/aiedu/homepage/aiedu-teacher/index.ts
  packages/themes/src/aiedu/homepage/aiedu-teacher/teacher.tsx
  packages/themes/src/aiedu/homepage/homepage.tsx
  packages/themes/src/aiedu/homepage/index.ts
  packages/themes/src/aiedu/introduction/aiedu-mentor/index.ts
  packages/themes/src/aiedu/introduction/aiedu-mentor/mentor.tsx
  packages/themes/src/aiedu/introduction/aiedu-teacher/index.ts
  packages/themes/src/aiedu/introduction/aiedu-teacher/teacher.tsx
  packages/themes/src/aiedu/introduction/index.ts
  packages/themes/src/aiedu/introduction/introduction.tsx
  packages/themes/src/aiedu/type.ts
  packages/ui/src/common/layout/footer/footer.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts, check-themes-package-ts

fix: update UI #306
  packages/assets/src/images/theme/aiedu/ai-generation.png
  packages/themes/src/_config/theme-page-initial/aiedu/homepage.ts
  packages/themes/src/_config/theme-page-initial/aiedu/introduction.ts
  packages/themes/src/aiedu/_components/course-card.tsx
  packages/themes/src/aiedu/_components/stats-card.tsx
  packages/themes/src/aiedu/_components/title.tsx
  packages/themes/src/aiedu/homepage/aiedu-features/features.tsx
  packages/themes/src/aiedu/introduction/aiedu-benefit/benefit.tsx
  packages/themes/src/aiedu/introduction/aiedu-features/features.tsx
Due: typecheck, check-themes-package-ts

fix: fix ui #305
  packages/themes/src/aiedu/_components/circular-percentage-chart.tsx
  packages/themes/src/aiedu/_components/dashboard-section.tsx
  packages/themes/src/aiedu/_components/ranking-table.tsx
  packages/themes/src/aiedu/_components/stats-card.tsx
  packages/themes/src/aiedu/_components/title.tsx
  packages/themes/src/aiedu/_components/trend-card.tsx
  packages/themes/src/aiedu/_components/trophy-card.tsx
  packages/themes/src/aiedu/homepage/aiedu-cert/cert.tsx
  packages/themes/src/aiedu/homepage/aiedu-features/features.tsx
  packages/themes/src/aiedu/introduction/aiedu-features/features.tsx
  packages/themes/src/aiedu/introduction/aiedu-trend/trend.tsx
Due: typecheck, check-themes-package-ts

fix: agent icon size #309
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
Due: typecheck, check-ui-package-ts

feat: (web) faq and terms page #347
  apps/organization/src/app/[locale]/(web)/faq/page.tsx
  apps/organization/src/app/[locale]/admin/(layout-sidebar)/terms-and-conditions/_components/terms-conditions-form.tsx
  apps/platform/src/app/[locale]/(web)/terms/page.tsx
Due: typecheck

feat: admin config faq and terms page #347
  apps/organization/src/app/[locale]/admin/(layout-sidebar)/terms-and-conditions/_components/index.ts
  apps/organization/src/app/[locale]/admin/(layout-sidebar)/terms-and-conditions/_components/terms-conditions-form.tsx
  apps/organization/src/app/[locale]/admin/(layout-sidebar)/terms-and-conditions/faq/page.tsx
  apps/organization/src/app/[locale]/admin/(layout-sidebar)/terms-and-conditions/terms-and-privacy/page.tsx
  apps/platform/src/app/[locale]/(web)/terms/page.tsx
  packages/api/src/utils/system-config.ts
  packages/core/src/utils/routes.ts
  packages/dashboard/src/admin/org-layout.tsx
  packages/i18n/src/messages/features/dashboard.ts
  packages/i18n/src/messages/pages/faq-management.ts
  packages/i18n/src/messages/pages/index.ts
Due: typecheck, check-api-package-ts, check-core-package-ts, check-i18n-package-ts, check-dashboard-package-ts

feat: add config page in platform #347
  apps/organization/src/app/[locale]/admin/(layout-sidebar)/terms-and-conditions/_components/index.ts
  apps/platform/src/app/[locale]/admin/(layout-sidebar)/terms-and-conditions/faq/page.tsx
  apps/platform/src/app/[locale]/admin/(layout-sidebar)/terms-and-conditions/terms-and-privacy/page.tsx
  packages/dashboard/src/admin/index.ts
  packages/dashboard/src/admin/layout.tsx
  packages/dashboard/src/admin/terms-and-conditions/_components/index.ts
  packages/dashboard/src/admin/terms-and-conditions/_components/terms-conditions-form.tsx
  packages/dashboard/src/admin/terms-and-conditions/faq/index.ts
  packages/dashboard/src/admin/terms-and-conditions/faq/page.tsx
  packages/dashboard/src/admin/terms-and-conditions/index.ts
  packages/dashboard/src/admin/terms-and-conditions/terms-and-privacy/index.ts
  packages/dashboard/src/admin/terms-and-conditions/terms-and-privacy/page.tsx
Due: typecheck, check-dashboard-package-ts

fix: footer #305
  packages/themes/src/_config/theme-page-initial/core/auth.ts
Due: typecheck, check-themes-package-ts

feat: config footer #306
  packages/i18n/src/messages/themes/aiedu/index.ts
  packages/themes/src/_config/theme-page-initial/core/auth.ts
  packages/themes/src/aiedu/_components/course-card.tsx
  packages/themes/src/aiedu/_components/statistics-banner.tsx
  packages/themes/src/aiedu/_components/trophy-card.tsx
  packages/themes/src/aiedu/homepage/aiedu-guide/guide.tsx
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

feat: api schedule
  packages/api/src/utils/endpoints.ts
Due: typecheck, check-api-package-ts

feat: add metadata for course, blog page #300
  apps/organization/src/app/[locale]/(web)/blog/[slug]/page.tsx
  apps/organization/src/app/[locale]/(web)/blog/page.tsx
  apps/organization/src/app/[locale]/(web)/courses/[slug]/page.tsx
  apps/organization/src/app/[locale]/(web)/courses/page.tsx
  apps/organization/src/app/[locale]/(web)/layout.tsx
  apps/platform/src/app/[locale]/(web)/blog/[slug]/page.tsx
  apps/platform/src/app/[locale]/(web)/blog/page.tsx
  apps/platform/src/app/[locale]/(web)/courses/[slug]/page.tsx
  apps/platform/src/app/[locale]/(web)/courses/page.tsx
  apps/platform/src/app/[locale]/layout.tsx
  packages/core/src/utils/helpers.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/seo.ts
Due: typecheck, check-core-package-ts

feat: add metadata ai-agent, launchpad page #300
  apps/organization/src/app/[locale]/(web)/courses/page.tsx
  apps/platform/src/app/[locale]/(ai)/ai-agent/page.tsx
  apps/platform/src/app/[locale]/(web)/courses/page.tsx
  apps/platform/src/app/[locale]/(web)/launchpad/page.tsx
Due: typecheck

Path conditions:
  typecheck: any of: *.{ts,tsx}
  check-api-package-ts: any of: packages/api/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-ui-package-ts: any of: packages/ui/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-core-package-ts: any of: packages/core/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-types-package-ts: any of: packages/types/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-config-package-ts: any of: packages/config/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-i18n-package-ts: any of: packages/i18n/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-themes-package-ts: any of: packages/themes/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-assets-package-ts: any of: packages/assets/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-dashboard-package-ts: any of: packages/dashboard/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-organization-package-ts: any of: packages/organization/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-platform-package-ts: any of: packages/platform/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check: any of: *.{json}
