Repository Openedu-project/OpenEdu: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts, check-types-package-ts, check-config-package-ts, check-i18n-package-ts, check-themes-package-ts, check-assets-package-ts, check-dashboard-package-ts, check-organization-package-ts, check-platform-package-ts, check

typecheck:
  run: pnpm run typecheck

check-api-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-ui-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-core-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-types-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-config-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-i18n-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-themes-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-assets-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-dashboard-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-organization-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-platform-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

fix: fix bug
  packages/api/src/types/point.ts
  packages/dashboard/src/admin/referral-program/program-management/_components/program-management-setting.tsx
  packages/dashboard/src/affiliate/campaigns/_components/campaign-commission-detail-modal.tsx
  packages/dashboard/src/affiliate/campaigns/compaign-detail/_components/campaign-detail.tsx
  packages/ui/src/components/modal/modal.tsx
  packages/ui/src/pages/course-list/_components/course-list-filter.tsx
  packages/ui/src/pages/course-list/page.tsx
  packages/ui/src/pages/referral-program/_components/invite-referral/invite-referral-program-list.tsx
  packages/ui/src/pages/schedule/_components/schedule-filter.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-dashboard-package-ts

fix: fix bug schedule
  packages/ui/src/components/modal/modal.tsx
  packages/ui/src/pages/course-list/_components/course-list-filter.tsx
  packages/ui/src/pages/course-list/page.tsx
  packages/ui/src/pages/referral-program/_components/invite-referral/invite-referral-program-list.tsx
  packages/ui/src/pages/schedule/_components/schedule-filter.tsx
Due: typecheck, check-ui-package-ts

fix: course trigger miss validation fields #368
  packages/api/src/schemas/courses/forms.ts
Due: typecheck, check-api-package-ts

fix: aiedu hero #368
  packages/themes/src/aiedu/homepage/aiedu-hero/aiedu-hero.tsx
Due: typecheck, check-themes-package-ts

fix: add valid for lesson content with rich text #368
  packages/api/src/schemas/courses/segmentSchema.ts
Due: typecheck, check-api-package-ts

fix: fix bug input number wheel scroll
  packages/dashboard/src/admin/referral-program/program-management/_components/program-management-setting.tsx
  packages/ui/src/components/input-number/input-number.tsx
Due: typecheck, check-ui-package-ts, check-dashboard-package-ts

fix: can not edit trigger #368
  packages/api/src/schemas/courses/forms.ts
Due: typecheck, check-api-package-ts

fix: scroll autocomplete in popup #385
  packages/ui/src/components/autocomplete/virtualized-command-base.tsx
Due: typecheck, check-ui-package-ts

fix: remove upload file #385
  packages/ui/src/components/uploader/uploader.tsx
Due: typecheck, check-ui-package-ts

fix: fix translate #368
  packages/dashboard/src/admin/site-settings/languages/_hooks.ts
  pnpm-lock.yaml
Due: typecheck, check-dashboard-package-ts

fix: course price #368
  packages/api/src/schemas/courses/createCourseSchema.ts
  packages/i18n/src/messages/features/course.ts
Due: typecheck, check-api-package-ts, check-i18n-package-ts

fix: lesson text content is required #368
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/utils.ts
  packages/i18n/src/messages/features/course.ts
Due: typecheck, check-i18n-package-ts, check-dashboard-package-ts

fix: change sort field value at api leader boards #306
  apps/organization/src/app/[locale]/(web)/ranking/[slug]/_components/ranking-detail-outline.tsx
  packages/themes/src/aiedu/_actions/dashboard.ts
  packages/themes/src/aiedu/homepage/aiedu-dashboard/dashboard-client.tsx
  packages/themes/src/aiedu/ranking/aiedu-dashboard/dashboard-client.tsx
Due: typecheck, check-themes-package-ts

feat: store image and text when change agent in general chat #385
  packages/ui/src/components/conversation/message-input/message-input-field.tsx
Due: typecheck, check-ui-package-ts

fix: change blog thumbnail error message #385
  packages/api/src/schemas/blogSchema.ts
Due: typecheck, check-api-package-ts

fix: fix bug
  apps/platform/.env.development
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-detail/ai-course-statistic-detail-compare-provinces-chart.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-overview/ai-course-statistic-overview-module-completion.tsx
  packages/ui/src/pages/referral-program/_components/invite-referral/invite-referral-program-header.tsx
Due: typecheck, check-ui-package-ts, check-dashboard-package-ts

feat: change schedule to VI
  packages/core/src/utils/datetime.ts
  packages/ui/src/pages/schedule/_components/schedule-event-list.tsx
  packages/ui/src/pages/schedule/_components/schedule-filter.tsx
  packages/ui/src/pages/schedule/page.tsx
Due: typecheck, check-ui-package-ts, check-core-package-ts

feat: connect conversation socket #327
  apps/platform/src/app/[locale]/(ai)/ai-agent/chat/[id]/page.tsx
  packages/api/src/services/conversation.ts
  packages/api/src/utils/endpoints.ts
  packages/ui/src/components/conversation/conversation-provider.tsx
  packages/ui/src/components/conversation/hooks/useMessageHandler.ts
  packages/ui/src/components/conversation/index.ts
  packages/ui/src/hooks/socket/useSocket.ts
  packages/ui/src/hooks/socket/useWebSocketEndpoint.ts
  packages/ui/src/store/conversation-store.ts
Due: typecheck, check-api-package-ts, check-ui-package-ts

feat: send message after connect conversation socket #327
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/hooks/useMessageHandler.ts
  packages/ui/src/store/conversation-store.ts
Due: typecheck, check-ui-package-ts

fix: send pending message #327
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/conversation-provider.tsx
  packages/ui/src/components/conversation/hooks/useMessageHandler.ts
  packages/ui/src/components/conversation/index.ts
  packages/ui/src/store/conversation-store.ts
Due: typecheck, check-ui-package-ts

fix: message agent, translate and conversation socket #327
  apps/platform/src/app/[locale]/(ai)/ai-agent/chat/[id]/page.tsx
  packages/i18n/src/messages/features/ai-assistant.ts
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/history/ai-history.tsx
  packages/ui/src/components/conversation/history/top-lastest-history.tsx
  packages/ui/src/components/conversation/hooks/useMessageHandler.ts
  packages/ui/src/components/conversation/utils.tsx
  packages/ui/src/pages/ai/chat/page.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

fix: change agent #327
  packages/ui/src/components/conversation/chat-window.tsx
Due: typecheck, check-ui-package-ts

refactor: optimize empty chat page #327
  apps/organization/src/app/[locale]/(ai)/ai-agent/chat/[id]/page.tsx
  apps/organization/src/app/[locale]/(ai)/ai-agent/chat/page.tsx
  apps/organization/src/app/[locale]/(ai)/ai-agent/history/page.tsx
  apps/organization/src/app/[locale]/(ai)/ai-agent/image-generator/[id]/page.tsx
  apps/organization/src/app/[locale]/(ai)/ai-agent/image-generator/page.tsx
  apps/organization/src/app/[locale]/(ai)/ai-agent/layout.tsx
  apps/organization/src/app/[locale]/(ai)/ai-agent/page.tsx
  apps/organization/src/app/[locale]/(ai)/ai-agent/slide/[id]/page.tsx
  apps/organization/src/app/[locale]/(ai)/ai-agent/slide/page.tsx
  apps/platform/src/app/[locale]/(ai)/ai-agent/chat/[id]/page.tsx
  apps/platform/src/app/[locale]/(ai)/ai-agent/image-generator/[id]/page.tsx
  apps/platform/src/app/[locale]/(ai)/ai-agent/slide/[id]/page.tsx
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/chat-with-source.tsx
  packages/ui/src/components/conversation/empty-chat.tsx
  packages/ui/src/components/conversation/hooks/useMessageHandler.ts
  packages/ui/src/components/conversation/index.ts
  packages/ui/src/components/conversation/message-input/input-frame.tsx
  packages/ui/src/components/conversation/message/message-container.tsx
  packages/ui/src/components/conversation/type.ts
  packages/ui/src/pages/ai/chat/page.tsx
Due: typecheck, check-ui-package-ts

refactor: optimize scroll down button #327
  apps/platform/src/app/[locale]/(ai)/ai-agent/history/page.tsx
  packages/ui/src/common/layout/ai-layout/ai-sidebar-layout.tsx
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/chat-with-source.tsx
  packages/ui/src/components/conversation/message/gen-message.tsx
  packages/ui/src/components/conversation/message/message-container.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
Due: typecheck, check-ui-package-ts

fix: show download button every chat new message #327
  packages/ui/src/components/conversation/message/ai-message.tsx
  packages/ui/src/components/conversation/message/code-download-button.tsx
  packages/ui/src/components/conversation/message/image-action.tsx
  packages/ui/src/components/conversation/message/message-container.tsx
  packages/ui/src/components/conversation/message/preview-link.tsx
  packages/ui/src/utils/marker.ts
Due: typecheck, check-ui-package-ts

fix: preview metadata #327
  packages/ui/src/components/conversation/message/ai-message.tsx
  packages/ui/src/components/conversation/message/preview-link.tsx
  packages/ui/src/components/conversation/message/user-message.tsx
  packages/ui/src/utils/marker.ts
Due: typecheck, check-ui-package-ts

fix: latex format inline #327
  packages/ui/src/components/conversation/message/message-container.tsx
  packages/ui/src/utils/marker.ts
Due: typecheck, check-ui-package-ts

feat: format thinking message #327
  packages/ui/src/components/conversation/message-input/message-input-field.tsx
  packages/ui/src/components/conversation/message/thinking-message.tsx
Due: typecheck, check-ui-package-ts

fix: receive cert modal display twice when direct to other lesson
  packages/ui/src/pages/learning/_components/receive-certificate/receive-cert-modal.tsx
Due: typecheck, check-ui-package-ts

fix: change error message at dynamic form renderer #394
  packages/i18n/src/messages/components/form-validation.ts
  packages/ui/src/components/dynamic-form/editor/form-renderer-modal.tsx
  packages/ui/src/components/dynamic-form/editor/form-renderer-slide-modal.tsx
  packages/ui/src/components/dynamic-form/utils.ts
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

fix: add rich-text class, add page faq on platform #347
  apps/organization/src/app/[locale]/(web)/terms/page.tsx
  apps/platform/src/app/[locale]/(web)/faq/page.tsx
  apps/platform/src/app/[locale]/(web)/terms/page.tsx
Due: typecheck

fix: optimize aiedu #400
  apps/organization/.env.development
  apps/organization/src/app/[locale]/(web)/ranking/[slug]/_components/ranking-detail-outline.tsx
  packages/config/tailwindcss/styles/global.css
  packages/i18n/src/messages/themes/aiedu/index.ts
  packages/themes/src/_config/theme-page-initial/core/auth.ts
  packages/themes/src/aiedu/_actions/dashboard.ts
  packages/themes/src/aiedu/homepage/aiedu-dashboard/dashboard-client.tsx
  packages/themes/src/aiedu/ranking/aiedu-dashboard/dashboard-client.tsx
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

feat: oe ai report
  apps/platform/.env.development
  packages/api/src/hooks/useAIEdu.ts
  packages/api/src/services/ai-edu.ts
  packages/api/src/types/ai-edu.ts
  packages/api/src/utils/endpoints.ts
  packages/core/src/utils/datetime.ts
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-dashboard.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-export.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-filter.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-data/ai-course-statistic-data-detail-modal.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-data/ai-course-statistic-data.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-students/ai-course-statistic-students.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tabs.tsx
  packages/ui/src/components/table/components/table.tsx
  packages/ui/src/pages/schedule/_components/schedule-event-list.tsx
  packages/ui/src/pages/schedule/_components/schedule-filter.tsx
  packages/ui/src/pages/schedule/page.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts, check-dashboard-package-ts

feat: oe ai report
  packages/ui/src/pages/course-list/_components/course-list-filter.tsx
  packages/ui/src/pages/course-list/_components/course-list-header.tsx
  packages/ui/src/pages/course-list/page.tsx
Due: typecheck, check-ui-package-ts

fix: multiple choice grid miss data #402
  packages/ui/src/components/dynamic-form/form-config/index.tsx
Due: typecheck, check-ui-package-ts

feat: add select all provinces button
  apps/platform/.env.development
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-detail/ai-course-statistic-detail-filter-provinces.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-detail/ai-course-statistic-detail.tsx
Due: typecheck, check-dashboard-package-ts

fix: render preview metadata #327
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/message/preview-link.tsx
Due: typecheck, check-ui-package-ts

feat: add time zone to call api
  packages/api/src/types/filter.ts
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-overview/ai-course-statistic-overview-module-completion.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-overview/ai-course-statistic-overview-student-chart.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-overview/ai-course-statistic-overview.tsx
Due: typecheck, check-api-package-ts, check-dashboard-package-ts

feat: add time zone to call api
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-overview/ai-course-statistic-overview-module-completion.tsx
Due: typecheck, check-dashboard-package-ts

fix: fix bug
  packages/themes/src/_config/theme-global-initial.ts
  packages/themes/src/aiedu/introduction/aiedu-benefit/benefit.tsx
  packages/themes/src/aiedu/introduction/aiedu-trend/trend.tsx
  packages/ui/src/components/dynamic-form/utils.ts
Due: typecheck, check-ui-package-ts, check-themes-package-ts

Path conditions:
  typecheck: any of: *.{ts,tsx}
  check-api-package-ts: any of: packages/api/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-ui-package-ts: any of: packages/ui/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-core-package-ts: any of: packages/core/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-types-package-ts: any of: packages/types/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-config-package-ts: any of: packages/config/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-i18n-package-ts: any of: packages/i18n/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-themes-package-ts: any of: packages/themes/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-assets-package-ts: any of: packages/assets/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-dashboard-package-ts: any of: packages/dashboard/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-organization-package-ts: any of: packages/organization/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-platform-package-ts: any of: packages/platform/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check: any of: *.{json}
