Repository Openedu-project/OpenEdu: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts, check-types-package-ts, check-config-package-ts, check-i18n-package-ts, check-themes-package-ts, check-assets-package-ts, check-dashboard-package-ts, check-organization-package-ts, check-platform-package-ts, check

typecheck:
  run: pnpm run typecheck

check-api-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-ui-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-core-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-types-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-config-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-i18n-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-themes-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-assets-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-dashboard-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-organization-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-platform-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

chore: rebase dev
  packages/ui/src/pages/referral-program/_components/invite-referral/invite-referral-program-advance-reward.tsx
  packages/ui/src/pages/referral-program/_components/invite-referral/invite-referral-program-available-reward.tsx
  packages/ui/src/pages/referral-program/_components/invite-referral/invite-referral-program-header.tsx
  packages/ui/src/pages/referral-program/_components/invite-referral/invite-referral-program-how-it-work.tsx
  packages/ui/src/pages/referral-program/_components/invite-referral/invite-referral-program-invite.tsx
  packages/ui/src/pages/referral-program/_components/invite-referral/invite-referral-program-list.tsx
  packages/ui/src/pages/referral-program/index.ts
  packages/ui/src/pages/referral-program/page.tsx
Due: typecheck, check-ui-package-ts

fix: #262 wallet history table missing detail column
  packages/i18n/src/messages/features/wallet.ts
  packages/ui/src/pages/wallet/history/fiat-history.tsx
  packages/ui/src/pages/wallet/history/fiat-transaction-detail-modal.tsx
  packages/ui/src/pages/wallet/history/token-history.tsx
  packages/ui/src/pages/wallet/history/transaction-detail-modal.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

fix: #262 uppercase network name
  packages/ui/src/pages/wallet/_components/network-dialog.tsx
Due: typecheck, check-ui-package-ts

fix: #262 close modal delete bank accout after deleted
  packages/ui/src/components/delete-button/delete-button.tsx
Due: typecheck, check-ui-package-ts

fix: #262 add messages validate for bank account modal
  packages/api/src/schemas/bankAccountSchema.ts
  packages/i18n/src/messages/features/wallet.ts
Due: typecheck, check-api-package-ts, check-i18n-package-ts

fix: #262 input amount widthdraw fiat NaN
  packages/api/src/schemas/withdrawSchema.ts
  packages/ui/src/pages/wallet/withdraw/withdraw-fiat-form.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: #262 mirror bugs in withdraw form
  packages/ui/src/pages/wallet/withdraw/withdraw-fiat-form.tsx
Due: typecheck, check-ui-package-ts

fix: #262 widthdraw fiat messages
  packages/api/src/schemas/withdrawSchema.ts
  packages/i18n/src/messages/features/wallet.ts
Due: typecheck, check-api-package-ts, check-i18n-package-ts

fix: #262 withdraw token issues
  packages/api/src/schemas/withdrawSchema.ts
  packages/ui/src/pages/wallet/_components/deposit-modal.tsx
  packages/ui/src/pages/wallet/withdraw/withdraw-token-form.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: import, css syntax
  packages/config/tailwindcss/styles/global.css
  packages/ui/src/pages/wallet/history/fiat-transaction-detail-modal.tsx
  packages/ui/src/pages/wallet/history/transaction-detail-modal.tsx
Due: typecheck, check-ui-package-ts

chore: remove var css
  packages/config/tailwindcss/styles/global.css
Due: none

fix: add use client
  packages/api/src/hooks/index.ts
  packages/dashboard/src/creator/courses/course-detail/_hooks/useGetSection.ts
  packages/dashboard/src/creator/courses/course-detail/_hooks/useLessonActions.ts
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/embedded-block-content/embedded-block-content.tsx
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/lesson-content-tab-header.tsx
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/pdf-block-content/pdf-block-content.tsx
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/quiz-block-content/quiz-block-content.tsx
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/quiz-editor/accordion-quiz.tsx
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/quiz-editor/quiz-editor.tsx
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/text-block-content/text-block-content.tsx
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/video-block-content/video-block-content.tsx
  packages/dashboard/src/creator/create-launchpad/_hooks/useChangeLaunchpadTab.tsx
  packages/dashboard/src/creator/create-launchpad/_hooks/useLaunchpadDetail.tsx
  packages/dashboard/src/creator/create-launchpad/basic-info-block/name-input.tsx
  packages/dashboard/src/creator/create-launchpad/funding-goal-form/target-funding-amount.tsx
  packages/dashboard/src/creator/create-launchpad/general-info-form/preview-video.tsx
  packages/dashboard/src/creator/create-launchpad/general-info-form/thumbnail.tsx
  packages/dashboard/src/creator/create-launchpad/owner-and-collabs-form/general-info.tsx
  packages/dashboard/src/creator/create-launchpad/voting-plan-form/voting-milestones.tsx
  packages/dashboard/src/creator/create-launchpad/voting-plan-form/voting-plan-block.tsx
  packages/dashboard/src/learner/_components/course-card/index.tsx
Due: typecheck, check-api-package-ts, check-dashboard-package-ts

fix: next intl config and certificate register fonts
  .vscode/settings.json
  apps/organization/next.config.ts
  apps/platform/next.config.ts
  packages/ui/src/components/certificate-builder/_components/pdf/pdf-export.tsx
  packages/ui/src/components/certificate-builder/_components/pdf/pdf-fonts.ts
Due: typecheck, check-ui-package-ts

chore: fix build and org admin modal pararell route
  apps/organization/next.config.ts
  apps/organization/src/app/[locale]/admin/@modal/default.tsx
  apps/platform/next.config.ts
Due: typecheck

feat: update cert image for homepage
  packages/assets/src/images/openedu-homepage/certificate.png
Due: none

fix: fix missing style
  packages/dashboard/src/admin/withdraw-request/_components/approval-withdraw-request-modal.tsx
  packages/dashboard/src/affiliate/campaigns/compaign-detail/page.tsx
  packages/dashboard/src/creator/coupon/_components/coupon-list.tsx
Due: typecheck, check-dashboard-package-ts

feat: popular course #297
  apps/organization/src/app/[locale]/admin/(layout-sidebar)/layout.tsx
  apps/platform/src/app/[locale]/(web)/_components/hero-banner.tsx
  apps/platform/src/app/[locale]/(web)/_components/partners.tsx
  apps/platform/src/app/[locale]/(web)/_components/polular-courses.tsx
  apps/platform/src/app/[locale]/(web)/_components/popular-course-carousel.tsx
  apps/platform/src/app/[locale]/admin/(layout-sidebar)/site-settings/featured-contents/page.tsx
  packages/core/src/utils/routes.ts
  packages/dashboard/src/admin/layout.tsx
  packages/dashboard/src/admin/org-layout.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/_components/blog-item.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/_components/course-item.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/_components/featured-blog.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/_components/list-blogs.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/_components/list-popular-courses.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/_components/popular-courses.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/index.ts
  packages/dashboard/src/admin/site-settings/featured-contents/page.tsx
  packages/dashboard/src/admin/site-settings/index.ts
  pnpm-lock.yaml
Due: typecheck, check-core-package-ts, check-dashboard-package-ts

feat: config org openedu101dev
  .github/workflows/deploy.yml
Due: none

fix: update selected course by fetching all course #297
  packages/dashboard/src/admin/site-settings/featured-contents/_components/list-popular-courses.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/_constants.ts
  packages/dashboard/src/admin/site-settings/featured-contents/_store.ts
  packages/i18n/src/messages/themes/theme-featured-content.ts
Due: typecheck, check-i18n-package-ts, check-dashboard-package-ts

feat: loading gotocourse, render lesson data enhancement #21
  packages/ui/src/components/course-card/course-hover-content.tsx
  packages/ui/src/components/payment-button/_hooks.ts
  packages/ui/src/pages/learning/_components/auth-check-learning.tsx
  packages/ui/src/pages/learning/_components/content-section.tsx
  packages/ui/src/pages/learning/_components/course-learning-container.tsx
  packages/ui/src/pages/learning/_components/course-sidebar-section.tsx
  packages/ui/src/pages/learning/_components/course-tabs/course-tabs.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-render.tsx
  packages/ui/src/pages/learning/_components/lesson-content/lesson-content-blocks.tsx
  packages/ui/src/pages/learning/_context/learning-context.tsx
  packages/ui/src/pages/learning/page.tsx
Due: typecheck, check-ui-package-ts

feat: update course-sidebar-section based on usecontext #21
  packages/ui/src/pages/learning/_components/auth-check-learning.tsx
  packages/ui/src/pages/learning/_components/content-section.tsx
  packages/ui/src/pages/learning/_components/course-learning-container.tsx
  packages/ui/src/pages/learning/_components/course-sidebar-section.tsx
  packages/ui/src/pages/learning/_components/lesson-content/_types/types.ts
  packages/ui/src/pages/learning/_components/lesson-content/lesson-content-blocks.tsx
  packages/ui/src/pages/learning/_components/lesson-metadata.tsx
  packages/ui/src/pages/learning/_context/index.ts
  packages/ui/src/pages/learning/_context/learning-context.tsx
  packages/ui/src/pages/learning/_context/lesson-context.tsx
  packages/ui/src/pages/learning/_context/progress-context.tsx
  packages/ui/src/pages/learning/_context/quiz-context.tsx
  packages/ui/src/pages/learning/_utils/learning-progress.ts
Due: typecheck, check-ui-package-ts

feat: update course-sidebar-section based on usecontext #21
  packages/ui/src/pages/learning/_context/progress-context.tsx
Due: typecheck, check-ui-package-ts

feat: add quiz context #21
  packages/assets/src/images/learning-page/keep_moving_forward.png
  packages/i18n/src/messages/pages/learning.ts
  packages/ui/src/pages/learning/_components/course-noti-modal.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-player/_hooks.ts
  packages/ui/src/pages/learning/_components/lesson-content/content-player/content-video.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-player/next-lesson-alert.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-quiz/content-quiz.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-quiz/quiz-result.tsx
  packages/ui/src/pages/learning/_store/learning-store.ts
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

feat: handle scroll CourseLearning, trigger form #21
  apps/platform/src/app/[locale]/(web)/courses/[slug]/[section]/[lesson]/page.tsx
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useMediaQuery.ts
  packages/ui/src/components/outline-lesson/preview-lesson-modal.tsx
  packages/ui/src/pages/learning/_components/content-section.tsx
  packages/ui/src/pages/learning/_components/course-learning-container.tsx
  packages/ui/src/pages/learning/_components/course-tabs/course-tabs.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-player/content-embedded.tsx
  packages/ui/src/pages/learning/_components/lesson-content/lesson-content-blocks.tsx
  packages/ui/src/pages/learning/_components/lesson-metadata.tsx
  packages/ui/src/pages/learning/_components/navigate-button.tsx
  packages/ui/src/pages/learning/_context/course-context.tsx
  packages/ui/src/pages/learning/_context/index.ts
  packages/ui/src/pages/learning/_context/learning-context.tsx
  packages/ui/src/pages/learning/_context/progress-context.tsx
  packages/ui/src/pages/learning/page.tsx
Due: typecheck, check-ui-package-ts, check-core-package-ts

style: render lesson content per type #21
  packages/ui/src/pages/learning/_components/content-section.tsx
  packages/ui/src/pages/learning/_components/course-learning-container.tsx
  packages/ui/src/pages/learning/_components/lesson-content/_types/types.ts
  packages/ui/src/pages/learning/_components/lesson-content/content-block.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-player/content-embedded.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-player/content-video.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-quiz/quiz-container.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-render.tsx
  packages/ui/src/pages/learning/_components/lesson-content/lesson-content-blocks.tsx
Due: typecheck, check-ui-package-ts

style: content pdf #21
  packages/ui/src/components/pdf-viewer/pdf-viewer.tsx
  packages/ui/src/pages/learning/_components/course-learning-container.tsx
  packages/ui/src/pages/learning/_components/course-tabs/course-description.tsx
  packages/ui/src/pages/learning/_components/course-tabs/course-tabs.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-pdf.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-player/player.ts
  packages/ui/src/pages/learning/_components/lesson-content/content-quiz/detail-answer-result.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-render.tsx
  packages/ui/src/pages/learning/_components/navigate-button.tsx
  packages/ui/src/pages/learning/_components/receive-certificate/receive-cert-modal.tsx
Due: typecheck, check-ui-package-ts

style: course tabs #21
  packages/ui/src/components/custom-tabs/custom-tabs.tsx
  packages/ui/src/pages/learning/_components/content-section.tsx
  packages/ui/src/pages/learning/_components/course-learning-container.tsx
  packages/ui/src/pages/learning/_components/course-tabs/course-tabs.tsx
Due: typecheck, check-ui-package-ts

chore: rebase dev
  packages/ui/src/pages/learning/_context/course-context.tsx
  packages/ui/src/pages/learning/_context/quiz-context.tsx
Due: typecheck, check-ui-package-ts

fix: maxDeep issue, add input for change page content pdf #21
  apps/organization/src/app/[locale]/(web)/courses/[slug]/[section]/[lesson]/page.tsx
  packages/i18n/src/messages/pages/learning.ts
  packages/ui/src/components/outline-lesson/outline-lesson.tsx
  packages/ui/src/components/pdf-viewer/pdf-toolbar.tsx
  packages/ui/src/pages/learning/_components/course-learning-container.tsx
  packages/ui/src/pages/learning/_components/lesson-content/lesson-content-blocks.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

feat: add translate #297
  packages/core/src/store/create.ts
  packages/dashboard/src/admin/site-settings/featured-contents/_components/list-popular-courses.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/page.tsx
  packages/i18n/src/messages/themes/theme-featured-content.ts
Due: typecheck, check-core-package-ts, check-i18n-package-ts, check-dashboard-package-ts

fix: #262 transaction detail model
  packages/ui/src/pages/wallet/history/transaction-detail-modal.tsx
  pnpm-lock.yaml
Due: typecheck, check-ui-package-ts

fix: #262 bank account detail modal
  packages/api/src/schemas/wallet.ts
Due: typecheck, check-api-package-ts

feat: cancel ai document #227
  packages/api/src/services/conversation.ts
  packages/api/src/types/conversation.ts
  packages/ui/src/components/conversation/hooks/useMessageHandler.ts
  packages/ui/src/components/conversation/message-input/preview-file.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar.tsx
  packages/ui/src/components/conversation/utils.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

feat: paste image into input frame #227
  packages/ui/src/components/conversation/constants.tsx
  packages/ui/src/components/conversation/message-input/input-default.tsx
  packages/ui/src/components/conversation/message-input/input-file.tsx
  packages/ui/src/components/conversation/message-input/input-with-agent.tsx
  packages/ui/src/components/conversation/message-input/message-input-field.tsx
Due: typecheck, check-ui-package-ts

feat: re-validate files #227
  packages/api/src/hooks/useConversation.ts
  packages/ui/src/components/conversation/constants.tsx
  packages/ui/src/components/conversation/message-input/preview-file.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

refactor: debug data
  apps/platform/.env.development
  packages/api/src/hooks/useConversation.ts
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/pages/ai/chat/page.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: optimize paste image
  packages/ui/src/components/conversation/constants.tsx
  packages/ui/src/components/conversation/message-input/input-default.tsx
  packages/ui/src/components/conversation/message-input/preview-file.tsx
  packages/ui/src/components/conversation/type.ts
Due: typecheck, check-ui-package-ts

fix: env
  apps/platform/.env.development
Due: none

chore: rebase dev
  packages/ui/src/components/conversation/message-input/input-default.tsx
  packages/ui/src/components/conversation/message-input/input-with-agent.tsx
  packages/ui/src/components/conversation/message-input/message-input-field.tsx
Due: typecheck, check-ui-package-ts

Path conditions:
  typecheck: any of: *.{ts,tsx}
  check-api-package-ts: any of: packages/api/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-ui-package-ts: any of: packages/ui/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-core-package-ts: any of: packages/core/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-types-package-ts: any of: packages/types/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-config-package-ts: any of: packages/config/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-i18n-package-ts: any of: packages/i18n/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-themes-package-ts: any of: packages/themes/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-assets-package-ts: any of: packages/assets/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-dashboard-package-ts: any of: packages/dashboard/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-organization-package-ts: any of: packages/organization/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-platform-package-ts: any of: packages/platform/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check: any of: *.{json}
