Repository Openedu-project/OpenEdu: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts, check-types-package-ts, check-config-package-ts, check-i18n-package-ts, check-themes-package-ts, check-assets-package-ts, check-dashboard-package-ts, check-organization-package-ts, check-platform-package-ts, check

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm run typecheck
    check-api-package-ts:
      glob: "packages/api/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-ui-package-ts:
      glob: "packages/ui/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-core-package-ts:
      glob: "packages/core/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-types-package-ts:
      glob: "packages/types/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-config-package-ts:
      glob: "packages/config/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-i18n-package-ts:
      glob: "packages/i18n/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-themes-package-ts:
      glob: "packages/themes/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-assets-package-ts:
      glob: "packages/assets/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-dashboard-package-ts:
      glob: "packages/dashboard/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-organization-package-ts:
      glob: "packages/organization/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-platform-package-ts:
      glob: "packages/platform/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check:
      glob: "*.{json}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm dlx commitlint --edit

fix: fix auth confirm page
  packages/ui/src/common/auth/auth-confirm-page/auth-confirm-page.tsx
Due: typecheck, check-ui-package-ts

fix: fix decode token
  packages/api/src/services/auth.ts
  packages/ui/src/common/auth/auth-confirm-page/auth-confirm-page.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: fix decode token
  packages/ui/src/common/auth/auth-confirm-page/auth-confirm-page.tsx
Due: typecheck, check-ui-package-ts

feat: update client id
  apps/platform/.env.openedu101dev
Due: none

feat: change api endpoint org writter, editor
  apps/platform/.env.development
  packages/api/src/utils/endpoints.ts
  packages/dashboard/src/blog-admin/_components/user-table.tsx
Due: typecheck, check-api-package-ts, check-dashboard-package-ts

feat: dynamic form
  packages/ui/src/components/dynamic-form/form-components/radio/config.ts
  packages/ui/src/components/dynamic-form/form-components/radio/index.ts
  packages/ui/src/components/dynamic-form/form-components/radio/radio-field-config.tsx
  packages/ui/src/components/dynamic-form/types.ts
Due: typecheck, check-ui-package-ts

feat: dynamic form
  packages/core/src/utils/constants.ts
  packages/dashboard/src/creator/courses/course-detail/form/_components/_functions.tsx
  packages/i18n/src/messages/features/dynamic-forms.ts
  packages/ui/src/components/course-form-trigger/course-trigger-modal.tsx
  packages/ui/src/components/dynamic-form/constants.ts
  packages/ui/src/components/dynamic-form/editor/form-field-item.tsx
  packages/ui/src/components/dynamic-form/editor/form-renderer-modal.tsx
  packages/ui/src/components/dynamic-form/form-components/auto-complete/auto-complete-config.tsx
  packages/ui/src/components/dynamic-form/form-components/auto-complete/config.ts
  packages/ui/src/components/dynamic-form/form-components/auto-complete/dynamic-auto-complete.tsx
  packages/ui/src/components/dynamic-form/form-components/auto-complete/index.ts
  packages/ui/src/components/dynamic-form/form-components/config.ts
  packages/ui/src/components/dynamic-form/form-components/index.ts
  packages/ui/src/components/dynamic-form/form-components/radio/config.ts
  packages/ui/src/components/dynamic-form/form-components/radio/index.ts
  packages/ui/src/components/dynamic-form/form-config/index.tsx
  packages/ui/src/components/dynamic-form/form-list-page/forms.tsx
  packages/ui/src/components/dynamic-form/types.ts
  packages/ui/src/components/dynamic-form/utils.ts
  packages/ui/src/components/radio/index.ts
  packages/ui/src/components/radio/radio.tsx
Due: typecheck, check-ui-package-ts, check-core-package-ts, check-i18n-package-ts, check-dashboard-package-ts

fix: #329 fix usdc balances not show and switch network of Base wallet in withdraw
  apps/platform/.env.development
  packages/api/src/services/base.ts
  packages/api/src/utils/wallet.ts
  packages/ui/src/pages/wallet/withdraw/withdraw-token-form.tsx
  pnpm-lock.yaml
Due: typecheck, check-api-package-ts, check-ui-package-ts

chore: remove console log
  packages/api/src/services/base.ts
Due: typecheck, check-api-package-ts

feat: add loading when navigating lesson #21
  packages/ui/src/components/outline-lesson/outline-lesson.tsx
  packages/ui/src/pages/learning/_components/content-section.tsx
  packages/ui/src/pages/learning/_components/course-sidebar-section.tsx
  packages/ui/src/pages/learning/_components/lesson-metadata.tsx
  packages/ui/src/pages/learning/_components/navigate-button.tsx
Due: typecheck, check-ui-package-ts

feat: learning progress field change #21
  packages/api/src/types/course/learning-progress.ts
  packages/ui/src/pages/course/_components/play-to-earn/helpers.ts
  packages/ui/src/pages/course/_components/play-to-earn/play-to-earn.tsx
  packages/ui/src/pages/course/_components/play-to-earn/require-learning-complete.tsx
  packages/ui/src/pages/learning/_context/progress-context.tsx
  packages/ui/src/pages/learning/_utils/utils.ts
  packages/ui/src/pages/learning/page.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: loading state and video progress updated #21
  packages/api/src/services/learning-progress.ts
  packages/ui/src/pages/learning/_components/lesson-content/content-player/_hooks.ts
  packages/ui/src/pages/learning/_context/progress-context.tsx
  packages/ui/src/pages/learning/_utils/utils.ts
  packages/ui/src/pages/learning/page.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: sidebar top, complete video content #21
  packages/ui/src/components/pdf-viewer/pdf-viewer.tsx
  packages/ui/src/pages/learning/_components/course-learning-container.tsx
  packages/ui/src/pages/learning/_components/lesson-content/_types/types.ts
  packages/ui/src/pages/learning/_components/lesson-content/content-pdf.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-render.tsx
  packages/ui/src/pages/learning/_components/lesson-content/lesson-content-blocks.tsx
  packages/ui/src/pages/learning/_context/progress-context.tsx
  packages/ui/src/pages/learning/_hooks/hooks.ts
  packages/ui/src/pages/learning/_hooks/index.ts
  packages/ui/src/pages/learning/_utils/learning-progress.ts
Due: typecheck, check-ui-package-ts

feat: optimize mergeSectionWithProgress function #21
  packages/api/src/types/course/learning-progress.ts
  packages/ui/src/components/outline-lesson/preview-lesson-modal.tsx
  packages/ui/src/pages/learning/_components/auth-check-learning.tsx
  packages/ui/src/pages/learning/_components/course-sidebar-section.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-player/_hooks.ts
  packages/ui/src/pages/learning/_components/lesson-content/content-quiz/quiz-result.tsx
  packages/ui/src/pages/learning/_components/lesson-content/lesson-content-blocks.tsx
  packages/ui/src/pages/learning/_components/lesson-metadata.tsx
  packages/ui/src/pages/learning/_context/learning-context.tsx
  packages/ui/src/pages/learning/_context/progress-context.tsx
  packages/ui/src/pages/learning/_type/index.ts
  packages/ui/src/pages/learning/_type/learning-progress.ts
  packages/ui/src/pages/learning/_utils/index.ts
  packages/ui/src/pages/learning/_utils/learning-progress.ts
  packages/ui/src/pages/learning/_utils/utils.ts
  packages/ui/src/pages/learning/page.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: only onComplete contentPdf when in view, lazy load video, pdf content #21
  packages/ui/src/pages/learning/_components/lesson-content/content-pdf.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-render.tsx
  packages/ui/src/pages/learning/_components/lesson-metadata.tsx
Due: typecheck, check-ui-package-ts

chore: add variables to all env files and move lib to api package
  apps/organization/.env.openedu101dev
  apps/organization/.env.openedudev
  apps/organization/.env.openedutest
  apps/organization/.env.production
  apps/platform/.env.development
  apps/platform/.env.openedu101dev
  apps/platform/.env.openedudev
  apps/platform/.env.openedutest
  apps/platform/.env.production
  apps/platform/package.json
  packages/api/package.json
  pnpm-lock.yaml
Due: none

fix: pdf toolbar on preview lesson modal #21
  packages/ui/src/pages/learning/_components/lesson-content/content-pdf.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-render.tsx
Due: typecheck, check-ui-package-ts

fix: mutate course list when bookmarking #332
  packages/ui/src/pages/course-list/_components/course-grid.tsx
  packages/ui/src/pages/course-list/_components/course-list.tsx
  packages/ui/src/pages/course-list/page.tsx
Due: typecheck, check-ui-package-ts

feat: update ui ai sidebar #309
  packages/i18n/src/messages/features/ai-assistant.ts
  packages/ui/src/components/conversation/sidebar/agent-button.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

feat: update sidebar content #309
  packages/assets/src/icons/document-text.tsx
  packages/assets/src/icons/grid-3.tsx
  packages/assets/src/icons/index.ts
  packages/i18n/src/messages/features/ai-assistant.ts
  packages/ui/src/components/conversation/constants.tsx
  packages/ui/src/components/conversation/history/ai-history.tsx
  packages/ui/src/components/conversation/history/history-item.tsx
  packages/ui/src/components/conversation/message/message-container.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar.tsx
  packages/ui/src/components/conversation/type.ts
Due: typecheck, check-ui-package-ts, check-i18n-package-ts, check-assets-package-ts

feat: ui ai desktop sidebar #309
  packages/api/src/hooks/useConversation.ts
  packages/i18n/src/messages/features/ai-assistant.ts
  packages/ui/src/components/conversation/constants.tsx
  packages/ui/src/components/conversation/history/ai-history.tsx
  packages/ui/src/components/conversation/history/history-item.tsx
  packages/ui/src/components/conversation/history/top-lastest-history.tsx
  packages/ui/src/components/conversation/message/message-container.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar.tsx
  packages/ui/src/components/conversation/utils.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-i18n-package-ts

feat: move ai model selection to ai layout #309
  apps/organization/src/app/[locale]/(ai)/ai-agent/chat/layout.tsx
  apps/organization/src/app/[locale]/(ai)/ai-agent/image-generator/layout.tsx
  apps/organization/src/app/[locale]/(ai)/ai-agent/slide/layout.tsx
  apps/platform/src/app/[locale]/(ai)/ai-agent/chat/layout.tsx
  apps/platform/src/app/[locale]/(ai)/ai-agent/image-generator/layout.tsx
  apps/platform/src/app/[locale]/(ai)/ai-agent/slide/layout.tsx
  packages/ui/src/common/layout/ai-layout/ai-chat-layout.tsx
  packages/ui/src/common/layout/ai-layout/ai-layout.tsx
  packages/ui/src/common/layout/ai-layout/ai-sidebar-layout.tsx
  packages/ui/src/common/layout/ai-layout/index.ts
  packages/ui/src/components/conversation/index.ts
  packages/ui/src/components/conversation/message-input/input-frame.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar.tsx
  packages/ui/src/shadcn/sidebar.tsx
Due: typecheck, check-ui-package-ts

feat: response ai sidebar #309
  packages/i18n/src/messages/features/ai-assistant.ts
  packages/ui/src/common/layout/ai-layout/ai-sidebar-layout.tsx
  packages/ui/src/components/conversation/ai-model-dropdown.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

feat: update prompt position #309
  packages/ui/src/common/layout/ai-layout/ai-sidebar-layout.tsx
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/empty-chat.tsx
  packages/ui/src/components/conversation/message-input/input-default.tsx
  packages/ui/src/components/conversation/message-input/message-input.tsx
  packages/ui/src/components/conversation/prompt/prompt-category.tsx
  packages/ui/src/pages/ai/assistant/page.tsx
Due: typecheck, check-ui-package-ts

feat: change prompt selection flow #309
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/message-input/input-default.tsx
  packages/ui/src/components/conversation/prompt/prompt-card.tsx
  packages/ui/src/components/conversation/prompt/prompt-grid.tsx
  packages/ui/src/components/conversation/prompt/prompt-popup.tsx
  packages/ui/src/store/conversation-store.ts
Due: typecheck, check-ui-package-ts

feat: update layout ai chat #309
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/chat-with-source.tsx
  packages/ui/src/components/conversation/empty-chat.tsx
  packages/ui/src/components/conversation/message-input/input-default.tsx
  packages/ui/src/components/conversation/message-input/input-frame.tsx
  packages/ui/src/components/conversation/message-input/message-input.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
  packages/ui/src/pages/ai/assistant/page.tsx
Due: typecheck, check-ui-package-ts

feat: handle no prompt found #309
  packages/i18n/src/messages/features/ai-assistant.ts
  packages/ui/src/components/conversation/message-input/message-input.tsx
  packages/ui/src/components/conversation/prompt/prompt-grid.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

feat: filter prompt in ai agent #309
  packages/ui/src/common/layout/ai-layout/ai-sidebar-layout.tsx
  packages/ui/src/components/conversation/message-input/input-default.tsx
  packages/ui/src/components/conversation/prompt/prompt-card.tsx
  packages/ui/src/components/conversation/prompt/prompt-category.tsx
  packages/ui/src/components/conversation/prompt/prompt-grid.tsx
  packages/ui/src/components/conversation/prompt/prompt-popup.tsx
Due: typecheck, check-ui-package-ts

refactor: optimize performance top lastest history #309
  packages/ui/src/components/conversation/history/top-lastest-history.tsx
Due: typecheck, check-ui-package-ts

fix: scroll when select prompt #309
  packages/ui/src/components/conversation/message-input/input-default.tsx
  packages/ui/src/components/conversation/message-input/input-frame.tsx
  packages/ui/src/components/conversation/prompt/prompt-card.tsx
Due: typecheck, check-ui-package-ts

fix: cache history chat #309
  packages/api/src/hooks/useConversation.ts
  packages/api/src/types/conversation.ts
  packages/ui/src/components/conversation/history/ai-history.tsx
  packages/ui/src/components/conversation/history/history-item.tsx
  packages/ui/src/components/conversation/history/top-lastest-history.tsx
  packages/ui/src/components/conversation/message/message-container.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

feat: ai history page #309
  apps/platform/src/app/[locale]/(ai)/ai-agent/history/page.tsx
  packages/api/src/services/conversation.ts
  packages/core/src/utils/routes.ts
  packages/ui/src/common/layout/ai-layout/ai-sidebar-layout.tsx
  packages/ui/src/components/conversation/history/ai-history.tsx
  packages/ui/src/components/conversation/history/top-lastest-history.tsx
  packages/ui/src/components/conversation/index.ts
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts

fix: render history data #309
  packages/ui/src/common/layout/ai-layout/ai-sidebar-layout.tsx
  packages/ui/src/components/conversation/history/top-lastest-history.tsx
Due: typecheck, check-ui-package-ts

feat: close sidebar when redirect to new page #309
  apps/organization/src/app/[locale]/(ai)/ai-agent/history/page.tsx
  packages/ui/src/components/conversation/history/top-lastest-history.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar-content.tsx
  packages/ui/src/components/conversation/sidebar/ai-sidebar.tsx
Due: typecheck, check-ui-package-ts

fix: copy course permalink toast is dupplicated
  packages/core/src/utils/utils.ts
  packages/ui/src/components/share-button/menu-share-item.tsx
Due: typecheck, check-ui-package-ts, check-core-package-ts

feat: initial org AI Education #305
  apps/organization/src/app/[locale]/(web)/page.tsx
  packages/i18n/src/messages/themes/aiedu/homepage.ts
  packages/i18n/src/messages/themes/aiedu/index.ts
  packages/i18n/src/messages/themes/index.ts
  packages/i18n/src/messages/themes/theme-info.ts
  packages/themes/src/_components/web/theme-web-page.tsx
  packages/themes/src/_config/initial.ts
  packages/themes/src/_config/theme-info.ts
  packages/themes/src/_config/theme-page-initial/aiedu/homepage.ts
  packages/themes/src/_config/theme-page-initial/aiedu/index.ts
  packages/themes/src/_config/theme-page-initial/core/auth.ts
  packages/themes/src/_config/theme-page-initial/index.ts
  packages/themes/src/_types/theme-page/core.ts
  packages/themes/src/_types/theme-page/props.ts
  packages/themes/src/_types/theme-page/sections.ts
  packages/themes/src/_utils/theme-import.ts
  packages/themes/src/aiedu/homepage/aiedu-hero/aiedu-hero.tsx
  packages/themes/src/aiedu/homepage/aiedu-hero/index.ts
  packages/themes/src/aiedu/homepage/homepage.tsx
  packages/themes/src/aiedu/homepage/index.ts
  packages/themes/src/aiedu/index.ts
  packages/themes/src/aiedu/type.ts
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

fix: add new design at aiedu-feature #305
  packages/assets/src/images/theme/aiedu/ai-course.png
  packages/themes/src/aiedu/homepage/aiedu-dashboard/dashboard.tsx
  packages/themes/src/aiedu/homepage/aiedu-features/features.tsx
Due: typecheck, check-themes-package-ts

feat: introduction page #306
  apps/organization/src/app/[locale]/(web)/introduction/page.tsx
  apps/organization/src/app/[locale]/(web)/ranking/page.tsx
  apps/organization/src/app/[locale]/(web)/schedule/page.tsx
  packages/assets/src/images/theme/aiedu/whale.png
  packages/i18n/src/messages/themes/aiedu/index.ts
  packages/i18n/src/messages/themes/aiedu/introduction.ts
  packages/i18n/src/messages/themes/index.ts
  packages/themes/src/_components/web/theme-web-page.tsx
  packages/themes/src/_config/initial.ts
  packages/themes/src/_config/theme-global-initial.ts
  packages/themes/src/_config/theme-page-initial/aiedu/index.ts
  packages/themes/src/_config/theme-page-initial/aiedu/introduction.ts
  packages/themes/src/_config/theme-page-initial/core/auth.ts
  packages/themes/src/_types/theme-page/core.ts
  packages/themes/src/_types/theme-page/props.ts
  packages/themes/src/_types/theme-page/sections.ts
  packages/themes/src/_utils/theme-import.ts
  packages/themes/src/aiedu/_components/layout-section.tsx
  packages/themes/src/aiedu/_components/statement-card.tsx
  packages/themes/src/aiedu/index.ts
  packages/themes/src/aiedu/introduction/aiedu-expert/expert.tsx
  packages/themes/src/aiedu/introduction/aiedu-expert/index.ts
  packages/themes/src/aiedu/introduction/aiedu-features/features.tsx
  packages/themes/src/aiedu/introduction/aiedu-features/index.ts
  packages/themes/src/aiedu/introduction/aiedu-goal/goal.tsx
  packages/themes/src/aiedu/introduction/aiedu-goal/index.ts
  packages/themes/src/aiedu/introduction/aiedu-map/index.ts
  packages/themes/src/aiedu/introduction/aiedu-map/map.tsx
  packages/themes/src/aiedu/introduction/aiedu-vision-mission/index.ts
  packages/themes/src/aiedu/introduction/aiedu-vision-mission/vision-mission.tsx
  packages/themes/src/aiedu/introduction/index.ts
  packages/themes/src/aiedu/introduction/introduction.tsx
  packages/themes/src/aiedu/ranking/index.ts
  packages/themes/src/aiedu/ranking/ranking.tsx
  packages/themes/src/aiedu/schedule/index.ts
  packages/themes/src/aiedu/schedule/schedule.tsx
  packages/themes/src/aiedu/type.ts
Due: typecheck, check-i18n-package-ts, check-themes-package-ts
