Repository Openedu-project/OpenEdu: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts, check-types-package-ts, check-config-package-ts, check-i18n-package-ts, check-themes-package-ts, check-assets-package-ts, check-dashboard-package-ts, check-organization-package-ts, check-platform-package-ts, check

typecheck:
  run: pnpm run typecheck

check-api-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-ui-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-core-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-types-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-config-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-i18n-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-themes-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-assets-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-dashboard-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-organization-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check-platform-package-ts:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

check:
  run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

fix: overflow when select prompt in mobile #327
  apps/platform/src/app/[locale]/(ai)/ai-agent/history/page.tsx
  packages/ui/src/common/layout/ai-layout/ai-sidebar-layout.tsx
  packages/ui/src/components/conversation/empty-chat.tsx
  packages/ui/src/components/modal/modal.tsx
  packages/ui/src/pages/ai/chat/page.tsx
  packages/ui/src/utils/marker.ts
Due: typecheck, check-ui-package-ts

fix: change hero banner aiedu #305
  packages/i18n/src/messages/themes/aiedu/homepage.ts
  packages/themes/src/_config/theme-page-initial/aiedu/homepage.ts
  packages/themes/src/aiedu/homepage/aiedu-gallery/gallery.tsx
  packages/themes/src/aiedu/homepage/aiedu-hero/aiedu-hero.tsx
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

fix: change goal section at intro page #305
  packages/i18n/src/messages/themes/aiedu/introduction.ts
  packages/themes/src/_config/theme-page-initial/aiedu/introduction.ts
  packages/themes/src/aiedu/homepage/aiedu-hero/aiedu-hero.tsx
  packages/themes/src/aiedu/introduction/aiedu-goal/goal.tsx
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

feat: hard VI language for AI org
  packages/api/src/services/i18n.ts
  packages/ui/src/common/language-switcher/language-switcher.tsx
  packages/ui/src/common/navigation/useHref.ts
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: change logo partner #305
  packages/themes/src/aiedu/homepage/aiedu-hero/aiedu-hero.tsx
Due: typecheck, check-themes-package-ts

style: add border and rearrange the layout of the sections #383
  packages/config/tailwindcss/styles/global.css
  packages/config/tailwindcss/styles/utils.css
  packages/core/src/styles/utils.css
  packages/ui/src/pages/course/_components/course-certificate/course-certificate.tsx
  packages/ui/src/pages/course/_components/course-content.tsx
  packages/ui/src/pages/course/_components/course-creator/creator-colabs.tsx
  packages/ui/src/pages/course/_components/course-creator/creator-info.tsx
  packages/ui/src/pages/course/_components/course-description.tsx
  packages/ui/src/pages/course/_components/course-info.tsx
  packages/ui/src/pages/course/_components/course-outline-detail.tsx
  packages/ui/src/pages/course/_components/course-section.tsx
  packages/ui/src/pages/course/_components/course-sidebar.tsx
  packages/ui/src/pages/course/_components/course-thumbnail.tsx
  packages/ui/src/pages/course/_components/share-to-earn.tsx
Due: typecheck, check-ui-package-ts

style: add bg for course information #383
  packages/assets/src/images/bg-course-infor.png
  packages/i18n/src/messages/pages/course-outline.ts
  packages/ui/src/components/share-button/share-button.tsx
  packages/ui/src/pages/course/_components/course-achievement.tsx
  packages/ui/src/pages/course/_components/course-creator/course-creator.tsx
  packages/ui/src/pages/course/_components/course-description.tsx
  packages/ui/src/pages/course/_components/course-header.tsx
  packages/ui/src/pages/course/_components/course-info.tsx
  packages/ui/src/pages/course/_components/course-sidebar.tsx
  packages/ui/src/pages/course/_components/course-stats.tsx
  packages/ui/src/pages/course/_components/payment-card.tsx
  packages/ui/src/pages/course/_components/play-to-earn/play-to-earn.tsx
  packages/ui/src/pages/course/_components/share-to-earn.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

feat: add field short_desc - create course and course detail page #383
  packages/api/src/schemas/courses/createCourseSchema.ts
  packages/api/src/types/course/course.ts
  packages/dashboard/src/creator/courses/_components/create-course-modal.tsx
  packages/dashboard/src/creator/courses/course-detail/_utils/constants.ts
  packages/dashboard/src/creator/courses/course-detail/information/page.tsx
  packages/dashboard/src/creator/courses/course-detail/information/short-description.tsx
  packages/i18n/src/messages/features/course.ts
  packages/ui/src/pages/course/_components/course-achievement.tsx
  packages/ui/src/pages/course/_components/course-creator/course-creator.tsx
  packages/ui/src/pages/course/_components/course-creator/creator-colabs.tsx
  packages/ui/src/pages/course/_components/course-creator/creator-info.tsx
  packages/ui/src/pages/course/_components/course-header.tsx
  packages/ui/src/pages/course/_components/course-includes.tsx
  packages/ui/src/pages/course/_components/course-info.tsx
  packages/ui/src/pages/course/_components/payment-card.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-i18n-package-ts, check-dashboard-package-ts

feat: change description to short_desc on course card hover - publish courses #383
  packages/ui/src/components/course-card/course-hover-content.tsx
Due: typecheck, check-ui-package-ts

feat: update styling #383
  packages/assets/src/icons/index.ts
  packages/assets/src/icons/oe-point.tsx
  packages/i18n/src/messages/pages/course-outline.ts
  packages/ui/src/pages/course/_components/course-creator/course-creator.tsx
  packages/ui/src/pages/course/_components/course-header.tsx
  packages/ui/src/pages/course/_components/course-info.tsx
  packages/ui/src/pages/course/_components/course-section.tsx
  packages/ui/src/pages/course/_components/course-stats.tsx
  packages/ui/src/pages/course/_components/share-to-earn.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts, check-assets-package-ts

fix: initial course price settings unit cost #383
  packages/dashboard/src/creator/courses/course-detail/information/page.tsx
  packages/dashboard/src/creator/courses/course-detail/price/price-form.tsx
  packages/ui/src/pages/course/_components/course-achievement.tsx
  packages/ui/src/pages/course/_components/course-stats.tsx
Due: typecheck, check-ui-package-ts, check-dashboard-package-ts

fix: add footer #305
  packages/themes/src/_config/theme-page-initial/core/auth.ts
Due: typecheck, check-themes-package-ts

fix: add translate footer #305
  packages/i18n/src/messages/themes/aiedu/index.ts
Due: typecheck, check-i18n-package-ts

feat: from date - 7 days
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-dashboard.tsx
Due: typecheck, check-dashboard-package-ts

feat: add missing translate key
  packages/i18n/src/messages/features/course.ts
Due: typecheck, check-i18n-package-ts

fix: fix spacing #305
  packages/i18n/src/messages/themes/aiedu/introduction.ts
  packages/themes/src/aiedu/_components/stats-card.tsx
  packages/themes/src/aiedu/_components/title.tsx
  packages/themes/src/aiedu/_components/trend-card.tsx
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

fix: add translate #305
  packages/i18n/src/messages/themes/aiedu/homepage.ts
  packages/i18n/src/messages/themes/aiedu/introduction.ts
  packages/ui/src/pages/blog/page.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

fix: fix translate
  packages/i18n/src/messages/pages/course-outline.ts
  packages/ui/src/common/navigation/useHref.ts
  packages/ui/src/pages/course/_components/course-content.tsx
  packages/ui/src/pages/course/_components/course-creator/creator-info.tsx
  packages/ui/src/pages/schedule/page.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

style: learning page ui, check quiz ui
  packages/ui/src/pages/course/_components/course-creator/course-creator.tsx
  packages/ui/src/pages/learning/_components/course-tabs/course-description.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-quiz/quiz-container.tsx
  packages/ui/src/pages/learning/_components/lesson-content/content-render.tsx
Due: typecheck, check-ui-package-ts

style: update course-stats component - course detail
  packages/ui/src/pages/course/_components/course-stats.tsx
Due: typecheck, check-ui-package-ts

feat: add filter dshv
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-students/ai-course-statistic-students.tsx
Due: typecheck, check-dashboard-package-ts

fix: fix translate
  packages/i18n/src/messages/pages/course-outline.ts
  packages/ui/src/pages/learning/_components/course-sidebar-section.tsx
  packages/ui/src/pages/learning/_components/course-tabs/course-tabs.tsx
Due: typecheck, check-ui-package-ts, check-i18n-package-ts

feat: auth optimize
  packages/themes/src/_components/theme-list/theme-card.tsx
  packages/ui/src/common/auth/auth-callback-page/auth-callback-page.tsx
  packages/ui/src/common/auth/auth-confirm-page/auth-confirm-form.tsx
  packages/ui/src/common/auth/auth-confirm-page/auth-confirm-page.tsx
  packages/ui/src/common/auth/email-verify-page/email-verify-actions.tsx
  packages/ui/src/common/auth/email-verify-page/email-verify-page.tsx
  packages/ui/src/common/auth/login-page/login-form.tsx
  packages/ui/src/common/auth/logout-button/logout-button.tsx
  packages/ui/src/common/auth/social-login-page/social-login-page.tsx
  packages/ui/src/common/layout/auth-menu/auth-menu.tsx
  packages/ui/src/common/layout/auth-menu/user-menu.tsx
  packages/ui/src/common/layout/header/header.tsx
  packages/ui/src/common/providers/auth-provider.tsx
  packages/ui/src/common/providers/intl-provider.tsx
  packages/ui/src/common/providers/providers.tsx
  packages/ui/src/common/providers/swr-provider.tsx
  packages/ui/src/components/certificate/certificate-card.tsx
  packages/ui/src/components/certificate/course-info.tsx
  packages/ui/src/components/certificate/share-cert-modal.tsx
  packages/ui/src/components/conversation/history/ai-history.tsx
  packages/ui/src/pages/course/_components/play-to-earn/play-to-earn.tsx
  packages/ui/src/pages/course/payment/_components/payment-crypto.tsx
  packages/ui/src/pages/course/payment/_components/payment.tsx
  packages/ui/src/pages/course/payment/payment-failed/page.tsx
  packages/ui/src/pages/course/payment/payment-success/page.tsx
  packages/ui/src/pages/launchpad/landing/components/select-create-course.tsx
  packages/ui/src/pages/user/_components/user-bio.tsx
  packages/ui/src/pages/user/_components/user-profile-content.tsx
  packages/ui/src/pages/user/certificate/page.tsx
  packages/ui/src/pages/user/edit/_components/edit-profile-header.tsx
  packages/ui/src/pages/user/edit/account/_components/edit-account.tsx
  packages/ui/src/pages/user/edit/profile-privacy/_components/user-list-form.tsx
  packages/ui/src/pages/user/edit/profile/_component/profile-header.tsx
Due: typecheck, check-ui-package-ts, check-themes-package-ts

feat: update config
  apps/platform/.env.production
  apps/platform/.gitignore
  apps/platform/open-next.config.ts
  apps/platform/package.json
  apps/platform/src/app/[locale]/(web)/layout.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/page.tsx
  apps/platform/src/app/[locale]/(web)/page.tsx
  apps/platform/src/app/[locale]/(web)/referral-program/page.tsx
  apps/platform/src/app/[locale]/layout.tsx
  apps/platform/src/app/[locale]/learner/(layout-sidebar)/my-courses/page.tsx
  apps/platform/src/middleware.ts
  apps/platform/sst-env.d.ts
  apps/platform/sst.config.ts
  apps/platform/tsconfig.json
Due: typecheck

feat: update pnpm lock
  pnpm-lock.yaml
Due: none

feat: update config
  biome.json
  package.json
  packages/api/src/hooks/index.ts
  packages/api/src/hooks/useI18n.ts
  packages/api/src/hooks/useSchedule.ts
  packages/api/src/services/featured-contents.ts
  packages/api/src/services/i18n.ts
  packages/api/src/services/organizations.ts
  packages/api/src/services/schedule.ts
  packages/api/src/services/system-config.ts
  packages/api/src/utils/fetch.ts
  packages/api/src/utils/referrer-origin.ts
  packages/config/next/index.ts
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-filter.tsx
  packages/dashboard/src/creator/forms/create/page.tsx
  packages/ui/src/common/auth/auth-social-buttons/auth-social-buttons.tsx
  packages/ui/src/common/language-switcher/language-switcher.tsx
  packages/ui/src/components/seo-metadata/seo-metadata.tsx
  packages/ui/src/hooks/socket/useSocketAuth.ts
  packages/ui/src/pages/schedule/_components/schedule-search.tsx
  packages/ui/src/pages/schedule/page.tsx
  pnpm-lock.yaml
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-dashboard-package-ts

feat: change createApi to buildURL
  packages/api/src/hooks/useAIEdu.ts
  packages/api/src/services/ai-edu.ts
Due: typecheck, check-api-package-ts

feat: auth optimize
  packages/ui/src/common/language-switcher/language-switcher.tsx
Due: typecheck, check-ui-package-ts

feat: auth optimize
  apps/platform/.env.development
  packages/api/src/actions/auth.ts
  packages/ui/src/shadcn/sonner.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

Path conditions:
  typecheck: any of: *.{ts,tsx}
  check-api-package-ts: any of: packages/api/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-ui-package-ts: any of: packages/ui/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-core-package-ts: any of: packages/core/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-types-package-ts: any of: packages/types/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-config-package-ts: any of: packages/config/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-i18n-package-ts: any of: packages/i18n/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-themes-package-ts: any of: packages/themes/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-assets-package-ts: any of: packages/assets/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-dashboard-package-ts: any of: packages/dashboard/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-organization-package-ts: any of: packages/organization/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check-platform-package-ts: any of: packages/platform/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  check: any of: *.{json}
