Repository Openedu-project/OpenEdu: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts, check-types-package-ts, check-config-package-ts, check-i18n-package-ts, check-themes-package-ts, check-assets-package-ts, check-dashboard-package-ts, check-organization-package-ts, check-platform-package-ts, check

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm run typecheck
    check-api-package-ts:
      glob: "packages/api/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-ui-package-ts:
      glob: "packages/ui/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-core-package-ts:
      glob: "packages/core/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-types-package-ts:
      glob: "packages/types/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-config-package-ts:
      glob: "packages/config/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-i18n-package-ts:
      glob: "packages/i18n/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-themes-package-ts:
      glob: "packages/themes/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-assets-package-ts:
      glob: "packages/assets/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-dashboard-package-ts:
      glob: "packages/dashboard/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-organization-package-ts:
      glob: "packages/organization/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-platform-package-ts:
      glob: "packages/platform/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check:
      glob: "*.{json}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm dlx commitlint --edit

fix: render preview document #227
  packages/api/src/hooks/useConversation.ts
  packages/ui/src/components/conversation/constants.tsx
  packages/ui/src/components/conversation/message-input/input-file.tsx
  packages/ui/src/components/conversation/message-input/preview-file.tsx
  packages/ui/src/components/uploader/uploader.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

feat: handle upload document in not login case #227
  packages/api/src/services/conversation.ts
  packages/ui/src/components/conversation/message-input/preview-file.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts

fix: upload document #227
  packages/ui/src/components/conversation/message-input/preview-file.tsx
Due: typecheck, check-ui-package-ts

feat: store conversation id #227
  packages/api/src/services/conversation.ts
  packages/ui/src/components/conversation/hooks/useMessageHandler.ts
  packages/ui/src/components/conversation/message-input/input-frame.tsx
  packages/ui/src/components/conversation/message-input/preview-file.tsx
  packages/ui/src/store/conversation-store.ts
Due: typecheck, check-api-package-ts, check-ui-package-ts

feat: disable upload file when not login #227
  packages/ui/src/components/conversation/message-input/input-file.tsx
Due: typecheck, check-ui-package-ts

fix: show list agent in mobile #227
  packages/ui/src/components/conversation/sidebar/agent-button.tsx
Due: typecheck, check-ui-package-ts

feat: add script chatbox
  apps/platform/src/app/[locale]/layout.tsx
  packages/core/src/styles/hljs.css
Due: typecheck

refactor: optimize performance ai chat #227
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/hooks/useMessageHandler.ts
  packages/ui/src/components/conversation/message-input/input-frame.tsx
  packages/ui/src/components/conversation/message-input/preview-file.tsx
  packages/ui/src/components/conversation/message/gen-message.tsx
  packages/ui/src/components/conversation/message/message-container.tsx
  packages/ui/src/hooks/socket/useAIConversationHandler.ts
  packages/ui/src/pages/ai/chat/page.tsx
  packages/ui/src/store/conversation-store.ts
Due: typecheck, check-ui-package-ts

fix: accept only upload image in ai agent
  apps/platform/src/app/[locale]/layout.tsx
  packages/core/src/styles/hljs.css
  packages/ui/src/components/conversation/message-input/input-file.tsx
  packages/ui/src/components/conversation/message/gen-message.tsx
  packages/ui/src/components/conversation/message/message-container.tsx
Due: typecheck, check-ui-package-ts

refactor: optimize ai chat
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/message/gen-message.tsx
  packages/ui/src/components/conversation/message/image-action.tsx
  packages/ui/src/components/conversation/message/message-box.tsx
  packages/ui/src/components/conversation/message/message-container.tsx
  packages/ui/src/components/conversation/sources/source-list.tsx
  packages/ui/src/components/conversation/sources/sources-button.tsx
Due: typecheck, check-ui-package-ts

fix: disable send button
  packages/ui/src/components/conversation/message-input/message-input-action.tsx
  packages/ui/src/components/conversation/message-input/preview-file.tsx
  packages/ui/src/components/conversation/prompt/prompt-card.tsx
  packages/ui/src/components/conversation/prompt/prompt-grid.tsx
  packages/ui/src/components/conversation/sidebar/agent-button.tsx
Due: typecheck, check-ui-package-ts

fix: hover prompt card in mobile
  packages/ui/src/components/conversation/prompt/prompt-card.tsx
Due: typecheck, check-ui-package-ts

fix: optimize select ai model
  packages/ui/src/components/conversation/ai-model-dropdown.tsx
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/store/conversation-store.ts
Due: typecheck, check-ui-package-ts

refactor: optimize ai agent
  packages/ui/src/components/conversation/chat-window.tsx
  packages/ui/src/components/conversation/chat-with-source.tsx
  packages/ui/src/components/conversation/empty-chat.tsx
  packages/ui/src/components/conversation/message-input/input-frame.tsx
  packages/ui/src/components/conversation/message/gen-message.tsx
  packages/ui/src/components/conversation/message/message-container.tsx
  packages/ui/src/pages/ai/assistant/page.tsx
  packages/ui/src/store/conversation-store.ts
Due: typecheck, check-ui-package-ts

fix: overlay scroll down button
  packages/ui/src/components/conversation/message/image-action.tsx
  packages/ui/src/components/conversation/message/message-container.tsx
Due: typecheck, check-ui-package-ts

fix: latex code block
  packages/ui/src/utils/marker.ts
Due: typecheck, check-ui-package-ts

refactor: optimize ai history modal
  packages/ui/src/components/conversation/history/ai-history.tsx
Due: typecheck, check-ui-package-ts

feat: render image from markdown link
  packages/ui/src/utils/marker.ts
Due: typecheck, check-ui-package-ts

fix: input message start with @ #227
  packages/ui/src/components/conversation/message-input/message-input.tsx
Due: typecheck, check-ui-package-ts

fix: #262 transaction detail model
  packages/ui/src/pages/wallet/history/transaction-detail-modal.tsx
Due: typecheck, check-ui-package-ts

fix: #262 bank account detail modal
  packages/api/src/schemas/wallet.ts
Due: typecheck, check-api-package-ts

refactor: optimize import #285
  apps/organization/src/app/[locale]/(web)/about-us/page.tsx
  apps/organization/src/app/[locale]/(web)/page.tsx
  apps/organization/src/app/[locale]/(web)/partners/page.tsx
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/globals/[settingKey]/page.tsx
  packages/i18n/src/messages/themes/index.ts
  packages/i18n/src/messages/themes/theme-web-page.ts
  packages/themes/src/_components/theme-header/toggle-default-theme.tsx
  packages/themes/src/_components/theme-settings/theme-global/theme-color.tsx
  packages/themes/src/_components/theme-settings/theme-page/theme-preview-panel.tsx
  packages/themes/src/_components/theme-settings/theme-page/theme-setting-pages.tsx
  packages/themes/src/_components/web/theme-page-renderer.tsx
  packages/themes/src/_components/web/theme-web-page.tsx
  packages/themes/src/_types/theme-page/render.ts
  packages/themes/src/_utils/constants.ts
  packages/themes/src/_utils/function.ts
  packages/themes/src/_utils/theme-import.ts
  packages/themes/src/academia/homepage/homepage.tsx
  packages/themes/src/academia/homepage/index.tsx
  packages/themes/src/avail/homepage/homepage.tsx
  packages/themes/src/fenet/homepage/homepage.tsx
  packages/themes/src/index.ts
  packages/themes/src/vbi/about-us/about-us.tsx
  packages/themes/src/vbi/homepage/homepage.tsx
  packages/themes/src/vbi/partners/partners.tsx
  packages/themes/src/vbi/partners/testimonials/index.tsx
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

chore: remove fonts in themes package
  apps/organization/src/app/[locale]/layout.tsx
  packages/themes/src/_components/theme-settings/theme-page/theme-setting-pages.tsx
  packages/themes/src/fonts.ts
Due: typecheck, check-themes-package-ts

chore: rebase dev
  packages/themes/src/_components/web/theme-page-renderer.tsx
  packages/themes/src/_components/web/theme-web-page.tsx
  packages/themes/src/_utils/theme-import.ts
  packages/themes/src/academia/academia.tsx
  packages/themes/src/academia/homepage/index.tsx
  packages/themes/src/avail/homepage/avail-solution/avail-solution.tsx
  packages/themes/src/avail/homepage/homepage.tsx
  packages/themes/src/fenet/homepage/homepage.tsx
  packages/themes/src/index.ts
  packages/themes/src/vbi/about-us/about-us.tsx
  packages/themes/src/vbi/homepage/homepage.tsx
  packages/themes/src/vbi/partners/partners.tsx
Due: typecheck, check-themes-package-ts

fix: add useclient
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/pages/[themePageKey]/_components/outline/index.ts
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/pages/[themePageKey]/_components/outline/outline-theme-setting-pages.tsx
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/pages/[themePageKey]/metadata/page.tsx
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/pages/[themePageKey]/theme/page.tsx
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/pages/page.tsx
  packages/themes/src/_components/theme-list/theme-card.tsx
  pnpm-lock.yaml
Due: typecheck, check-themes-package-ts

fix: add use client
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/pages/[themePageKey]/_components/outline-theme-setting-pages.tsx
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/pages/[themePageKey]/_components/outline/index.ts
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/pages/[themePageKey]/metadata/page.tsx
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/pages/[themePageKey]/theme/page.tsx
  apps/organization/src/app/[locale]/admin/@modal/site-settings/languages/translations/page.tsx
  packages/themes/src/_components/theme-settings/theme-global/color-picker.tsx
  packages/themes/src/_components/theme-settings/theme-global/theme-border-radius.tsx
  packages/themes/src/_components/theme-settings/theme-global/theme-color.tsx
  packages/themes/src/_components/theme-settings/theme-global/theme-font.tsx
  packages/themes/src/academia/homepage/homepage.tsx
Due: typecheck, check-themes-package-ts

fix: fix build at org #294
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/globals/[settingKey]/page.tsx
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/pages/[themePageKey]/_components/outline-theme-setting-pages.tsx
  packages/themes/package.json
  packages/themes/src/_components/index.ts
  packages/themes/src/_components/theme-settings/index.ts
  packages/themes/src/_components/theme-settings/index.tsx
  packages/themes/src/_components/theme-settings/theme-page/theme-preview-panel.tsx
  packages/themes/src/_components/theme-settings/theme-page/theme-section-setting-field/array-setting-field.tsx
  packages/themes/src/_components/theme-settings/theme-page/theme-section-setting-field/component-registry.tsx
  packages/themes/src/_components/theme-settings/theme-page/theme-section-setting-field/index.ts
  packages/themes/src/_components/theme-settings/theme-page/theme-section-setting-field/object-setting-field.tsx
  packages/themes/src/_components/theme-sidebar/theme-sidebar-content.tsx
  packages/themes/src/_components/web/index.ts
  packages/themes/src/_components/web/theme-page-renderer.tsx
  packages/themes/src/_config/index.ts
  packages/themes/src/_config/theme-sidebar-config.ts
  packages/themes/src/_types/header.ts
  packages/themes/src/_types/theme-page/config.ts
  packages/themes/src/_types/theme-page/props.ts
  packages/themes/src/_types/theme-page/render.ts
  packages/themes/src/_types/theme-page/sections.ts
  packages/themes/src/_utils/index.ts
  packages/themes/src/avail/homepage/_actions/blog.ts
  packages/themes/src/avail/homepage/_actions/popular-course.ts
  packages/themes/src/avail/homepage/_actions/type.ts
  packages/themes/src/index.ts
  packages/themes/src/vbi/_actions/blogs.ts
  packages/themes/src/vbi/_actions/popular-course.ts
  packages/themes/src/vbi/_actions/type.ts
Due: typecheck, check-themes-package-ts

fix: add the tsconfig #294
  package.json
  packages/themes/package.json
  packages/themes/tsconfig.build.json
  packages/themes/tsconfig.json
  turbo.json
Due: none

fix: layout #294
  apps/organization/src/app/[locale]/(web)/layout.tsx
  apps/organization/src/app/[locale]/(web)/partners/page.tsx
  apps/organization/src/app/[locale]/layout.tsx
  packages/themes/src/_components/web/index.ts
  packages/themes/src/_store/useThemeStore.ts
  packages/themes/src/avail/homepage/homepage.tsx
  packages/themes/src/fenet/homepage/homepage.tsx
  packages/themes/src/index.ts
  packages/themes/src/scholar/homepage/homepage.tsx
  packages/themes/src/vbi/about-us/about-us.tsx
  packages/themes/tsconfig.build.json
  packages/themes/tsconfig.json
Due: typecheck, check-themes-package-ts

fix: fix circle #294
  packages/themes/src/_components/theme-settings/theme-page/theme-section-setting-field/array-setting-field.tsx
  packages/themes/src/_components/theme-settings/theme-page/theme-section-setting-field/component-registry.tsx
  packages/themes/src/_components/theme-settings/theme-page/theme-section-setting-field/index.ts
  packages/themes/src/_components/theme-settings/theme-page/theme-section-setting-field/object-setting-field.tsx
  packages/themes/src/vbi/homepage/vbi-hero/vbi-hero.tsx
  packages/themes/tsconfig.build.json
  packages/ui/src/components/uploader/uploader.tsx
Due: typecheck, check-ui-package-ts, check-themes-package-ts

fix: themes build
  packages/themes/tsconfig.build.json
  packages/themes/tsconfig.json
Due: none

feat: popular course #297
  packages/dashboard/src/admin/site-settings/featured-contents/_components/list-popular-courses.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/page.tsx
Due: typecheck, check-dashboard-package-ts

feat: add config at org #297
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/features/popular/blog/page.tsx
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/features/popular/course/page.tsx
  apps/platform/src/app/[locale]/(web)/_components/blogs-section.tsx
  packages/api/src/hooks/useFeaturedContent.ts
  packages/api/src/services/featured-contents.ts
  packages/dashboard/src/admin/site-settings/featured-contents/_components/blog-item.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/_components/list-blogs.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/_components/list-popular-courses.tsx
  packages/dashboard/src/admin/site-settings/featured-contents/_constants.ts
  packages/dashboard/src/admin/site-settings/featured-contents/index.ts
  packages/dashboard/src/admin/site-settings/featured-contents/page.tsx
  packages/i18n/src/messages/themes/theme-featured-content.ts
Due: typecheck, check-api-package-ts, check-i18n-package-ts, check-dashboard-package-ts

fix: rebase
  pnpm-lock.yaml
Due: none

fix: rebase #297
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/features/popular/layout.tsx
  apps/organization/src/app/[locale]/admin/(layout-theme)/themes/[themeName]/features/popular/page.tsx
Due: typecheck

feat: add certificate requirements - course detail page - AI program #313
  packages/api/src/types/course/basic.ts
  packages/i18n/src/messages/pages/course-outline.ts
  packages/ui/src/pages/course/_components/course-certificate.tsx
  packages/ui/src/pages/course/_components/course-certificate/cert-requirements.tsx
  packages/ui/src/pages/course/_components/course-certificate/certificate-badge.tsx
  packages/ui/src/pages/course/_components/course-certificate/course-certificate.tsx
  packages/ui/src/pages/course/_components/course-certificate/index.ts
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-i18n-package-ts

feat: #310 implement Base wallet
  apps/platform/.env.development
  apps/platform/package.json
  packages/api/src/hooks/useWallet.ts
  packages/api/src/services/eth.ts
  packages/api/src/services/index.ts
  packages/api/src/services/near.ts
  packages/api/src/utils/wallet.ts
  packages/assets/src/icons/currencies/base.tsx
  packages/assets/src/icons/currencies/eth.tsx
  packages/assets/src/icons/currencies/index.ts
  packages/dashboard/src/creator/create-launchpad/payment-method-form/deposit-modal.tsx
  packages/types/global.d.ts
  packages/ui/src/pages/wallet/_components/asset-list-table.tsx
  packages/ui/src/pages/wallet/_components/deposit-modal.tsx
  packages/ui/src/pages/wallet/history/transaction-detail-modal.tsx
  packages/ui/src/pages/wallet/withdraw/withdraw-token-form.tsx
  pnpm-lock.yaml
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-assets-package-ts, check-dashboard-package-ts

chore: #310 change name network to base
  apps/platform/.env.development
  packages/api/src/hooks/useWallet.ts
  packages/api/src/services/base.ts
  packages/api/src/services/index.ts
  packages/types/global.d.ts
Due: typecheck, check-api-package-ts

fix: still loading when cancel login, styling course cert section #313
  packages/ui/src/components/payment-button/_hooks.ts
  packages/ui/src/pages/course/_components/course-certificate/course-certificate.tsx
Due: typecheck, check-ui-package-ts

fix: course price display not correct
  packages/ui/src/components/course-card/course-price.tsx
  packages/ui/src/pages/course/_components/payment-card.tsx
Due: typecheck, check-ui-package-ts
