Repository Openedu-project/OpenEdu: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts, check-types-package-ts, check-config-package-ts, check-i18n-package-ts, check-themes-package-ts, check-assets-package-ts, check-dashboard-package-ts, check-organization-package-ts, check-platform-package-ts, check

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm run typecheck
    check-api-package-ts:
      glob: "packages/api/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-ui-package-ts:
      glob: "packages/ui/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-core-package-ts:
      glob: "packages/core/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-types-package-ts:
      glob: "packages/types/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-config-package-ts:
      glob: "packages/config/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-i18n-package-ts:
      glob: "packages/i18n/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-themes-package-ts:
      glob: "packages/themes/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-assets-package-ts:
      glob: "packages/assets/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-dashboard-package-ts:
      glob: "packages/dashboard/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-organization-package-ts:
      glob: "packages/organization/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check-platform-package-ts:
      glob: "packages/platform/src/**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    check:
      glob: "*.{json}"
      run: pnpm dlx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm dlx commitlint --edit

feat: change blog into news-feed #300
  apps/organization/src/app/[locale]/(web)/news-feed/[slug]/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/author/[username]/[slug]/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/author/[username]/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/category/[id]/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/hashtag/[id]/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/list/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/me/[id]/edit/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/me/[id]/preview/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/me/creation/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/me/management/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/[slug]/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/author/[username]/[slug]/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/author/[username]/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/category/[id]/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/hashtag/[id]/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/list/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/me/[id]/edit/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/me/[id]/preview/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/me/creation/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/me/management/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/page.tsx
  packages/core/src/utils/routes.ts
Due: typecheck, check-core-package-ts

feat: update title, description with translation #300
  apps/platform/src/app/[locale]/(ai)/ai-agent/page.tsx
  apps/platform/src/app/[locale]/(web)/courses/page.tsx
  apps/platform/src/app/[locale]/(web)/launchpad/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/page.tsx
  apps/platform/src/app/[locale]/(web)/page.tsx
  packages/core/src/utils/seo.ts
  packages/i18n/src/messages/pages/index.ts
  packages/i18n/src/messages/pages/metadata.ts
Due: typecheck, check-core-package-ts, check-i18n-package-ts

feat: add metadata for personal news-feed #300
  apps/organization/src/app/[locale]/(web)/news-feed/author/[username]/[slug]/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/author/[username]/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/author/[username]/[slug]/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/author/[username]/page.tsx
  packages/i18n/src/messages/pages/metadata.ts
Due: typecheck, check-i18n-package-ts

feat: change heading tag course, blog detail, optimize metadata #300
  apps/organization/src/app/[locale]/(web)/courses/[slug]/[section]/[lesson]/page.tsx
  apps/organization/src/app/[locale]/(web)/courses/[slug]/page.tsx
  apps/organization/src/app/[locale]/(web)/courses/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/[slug]/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/author/[username]/[slug]/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/author/[username]/page.tsx
  apps/platform/src/app/[locale]/(ai)/ai-agent/page.tsx
  apps/platform/src/app/[locale]/(web)/courses/[slug]/[section]/[lesson]/page.tsx
  apps/platform/src/app/[locale]/(web)/courses/[slug]/page.tsx
  apps/platform/src/app/[locale]/(web)/courses/page.tsx
  apps/platform/src/app/[locale]/(web)/launchpad/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/[slug]/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/author/[username]/[slug]/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/author/[username]/page.tsx
  apps/platform/src/app/[locale]/(web)/news-feed/page.tsx
  apps/platform/src/app/[locale]/(web)/page.tsx
  packages/core/src/utils/index.ts
  packages/core/src/utils/seo.ts
  packages/ui/src/components/blog/blog-details.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/components/seo-metadata/index.ts
  packages/ui/src/components/seo-metadata/seo-metadata.tsx
  packages/ui/src/pages/course/_components/course-creator/course-creator.tsx
  packages/ui/src/shadcn/accordion.tsx
Due: typecheck, check-ui-package-ts, check-core-package-ts

feat: update blog route, add metadata terms page (org) #300
  apps/organization/src/app/[locale]/(web)/courses/page.tsx
  apps/organization/src/app/[locale]/(web)/faq/page.tsx
  apps/organization/src/app/[locale]/(web)/news-feed/page.tsx
  apps/organization/src/app/[locale]/(web)/terms/page.tsx
  apps/platform/src/app/[locale]/(web)/_components/blogs-section.tsx
  packages/i18n/src/messages/pages/metadata.ts
  packages/i18n/src/messages/themes/aiedu/index.ts
  packages/i18n/src/messages/themes/auth.ts
  packages/i18n/src/messages/themes/vbi/index.ts
  packages/themes/src/_config/theme-page-initial/core/auth.ts
  packages/themes/src/_config/theme-page-initial/vbi/homepage.ts
  packages/themes/src/aiedu/_components/blog-grid-client.tsx
  packages/themes/src/aiedu/_components/blog-grid-server.tsx
  packages/themes/src/vbi/_components/blog-grid-client.tsx
  packages/themes/src/vbi/_components/blog-grid-server.tsx
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

fix: update UI #306
  packages/themes/src/aiedu/_components/ranking-table.tsx
  packages/themes/src/aiedu/_components/stats-card.tsx
  packages/themes/src/aiedu/_components/trend-card.tsx
  packages/themes/src/aiedu/homepage/aiedu-features/features.tsx
  packages/themes/src/aiedu/introduction/aiedu-benefit/benefit.tsx
  packages/themes/src/aiedu/introduction/aiedu-trend/trend.tsx
  packages/themes/src/aiedu/introduction/introduction.tsx
Due: typecheck, check-themes-package-ts

fix: fix UI #306
  packages/themes/src/aiedu/_components/course-card.tsx
  packages/themes/src/aiedu/introduction/aiedu-features/features.tsx
Due: typecheck, check-themes-package-ts

fix: update UI #306
  packages/themes/src/aiedu/introduction/aiedu-features/features.tsx
Due: typecheck, check-themes-package-ts

fix: add section mentor, teacher #305
  packages/themes/src/aiedu/homepage/aiedu-cert/cert.tsx
Due: typecheck, check-themes-package-ts

fix: gallery #305
  packages/themes/src/aiedu/_components/ranking-table.tsx
  packages/themes/src/aiedu/homepage/aiedu-gallery/gallery.tsx
Due: typecheck, check-themes-package-ts

feat: add counter animation #305
  packages/themes/src/aiedu/_components/trophy-card.tsx
Due: typecheck, check-themes-package-ts

feat: button animation #305
  packages/themes/src/aiedu/_components/button.tsx
Due: typecheck, check-themes-package-ts

feat: integrate api system-config #306
  packages/api/src/hooks/useAIEdu.ts
  packages/api/src/services/ai-edu.ts
  packages/api/src/types/ai-edu.ts
  packages/api/src/utils/endpoints.ts
  packages/api/src/utils/system-config.ts
  packages/themes/src/aiedu/_actions/dashboard.ts
  packages/themes/src/aiedu/_components/dashboard-section.tsx
  packages/themes/src/aiedu/homepage/aiedu-dashboard/dashboard-client.tsx
  packages/themes/src/aiedu/homepage/aiedu-dashboard/dashboard-server.tsx
  packages/themes/src/aiedu/ranking/aiedu-dashboard/dashboard-client.tsx
  packages/themes/src/aiedu/ranking/aiedu-dashboard/dashboard-server.tsx
Due: typecheck, check-api-package-ts, check-themes-package-ts

fix: add log
  apps/platform/.env.development
  packages/ui/src/pages/schedule/_components/schedule-event-list.tsx
Due: typecheck, check-ui-package-ts

fix: add log
  packages/core/src/utils/datetime.ts
Due: typecheck, check-core-package-ts

fix: add log
  packages/core/package.json
  packages/core/src/utils/datetime.ts
  pnpm-lock.yaml
Due: typecheck, check-core-package-ts

fix: add log
  packages/ui/src/pages/schedule/_components/schedule-event-list.tsx
Due: typecheck, check-ui-package-ts

fix: ui #305
  packages/i18n/src/messages/themes/aiedu/homepage.ts
  packages/i18n/src/messages/themes/aiedu/index.ts
  packages/themes/src/_config/theme-page-initial/aiedu/homepage.ts
  packages/themes/src/aiedu/_components/button.tsx
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

feat: ai course statistic
  apps/platform/.env.development
  apps/platform/src/app/[locale]/admin/(layout-sidebar)/statistic/ai-course-statistic/page.tsx
  packages/api/src/hooks/useAIEdu.ts
  packages/api/src/services/ai-edu.ts
  packages/api/src/types/ai-edu.ts
  packages/api/src/types/filter.ts
  packages/api/src/utils/endpoints.ts
  packages/config/tailwindcss/styles/global.css
  packages/core/src/hooks/index.ts
  packages/core/src/hooks/useCountUp.ts
  packages/core/src/utils/routes.ts
  packages/dashboard/src/admin/index.ts
  packages/dashboard/src/admin/layout.tsx
  packages/dashboard/src/admin/org-layout.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-dashboard.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-filter.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-data/ai-course-statistic-data.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-detail/ai-course-statistic-detail-compare-provinces-chart.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-detail/ai-course-statistic-detail-filter-provinces.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-detail/ai-course-statistic-detail-join-by-provinces-chart.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-detail/ai-course-statistic-detail.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-overview/ai-course-statistic-overview-module-completion.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-overview/ai-course-statistic-overview-stats.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-overview/ai-course-statistic-overview-student-chart.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-overview/ai-course-statistic-overview.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-students/ai-course-statistic-students.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tabs.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/page.tsx
  packages/dashboard/src/admin/statistic/index.tsx
  packages/i18n/src/messages/features/dashboard.ts
  packages/ui/src/components/autocomplete/autocomplete-multiple.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-core-package-ts, check-i18n-package-ts, check-dashboard-package-ts

feat: statistic for org
  apps/organization/src/app/[locale]/admin/(layout-sidebar)/statistic/ai-course-statistic/page.tsx
Due: typecheck

feat: statistic for org
  packages/api/src/utils/endpoints.ts
Due: typecheck, check-api-package-ts

feat: statistic for org
  packages/api/src/types/filter.ts
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-detail/ai-course-statistic-detail-filter-provinces.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-detail/ai-course-statistic-detail-join-by-provinces-chart.tsx
  packages/dashboard/src/admin/statistic/ai-course-statistic/_components/ai-course-statistic-tab/ai-course-statistic-detail/ai-course-statistic-detail.tsx
Due: typecheck, check-api-package-ts, check-dashboard-package-ts

style: update ui for certificate condition section - course detail #313
  packages/ui/src/pages/course/_components/course-certificate/cert-requirements.tsx
  packages/ui/src/pages/course/_components/course-certificate/course-certificate.tsx
Due: typecheck, check-ui-package-ts

fix: bug ui #362
  packages/themes/src/aiedu/_components/info-section.tsx
  packages/themes/src/aiedu/_components/title.tsx
  packages/themes/src/aiedu/homepage/aiedu-cert/cert.tsx
  packages/themes/src/aiedu/introduction/aiedu-features/features.tsx
  packages/ui/src/common/layout/footer/footer.tsx
Due: typecheck, check-ui-package-ts, check-themes-package-ts

fix: do not show all list provinces #362
  packages/themes/src/aiedu/_actions/dashboard.ts
  packages/ui/src/common/layout/footer/footer.tsx
Due: typecheck, check-ui-package-ts, check-themes-package-ts

fix: add custom-line-clamp-6 #362
  packages/config/tailwindcss/styles/utils.css
  packages/themes/src/aiedu/_components/info-section.tsx
Due: typecheck, check-themes-package-ts

fix: ui #362
  packages/themes/src/aiedu/_components/info-section.tsx
Due: typecheck, check-themes-package-ts

feat: notification
  apps/platform/.env.development
  packages/api/src/types/notification.ts
  packages/i18n/src/messages/pages/notification.ts
  packages/ui/src/common/layout/auth-menu/notifications/useNotifications.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-i18n-package-ts

feat: required whole number for duration and study load field #369
  packages/api/src/schemas/courses/createCourseSchema.ts
  packages/dashboard/src/creator/courses/ai-course/_components/course-outline-form.tsx
  packages/dashboard/src/creator/courses/ai-course/_components/form-field/duration-field.tsx
  packages/i18n/src/messages/features/course.ts
Due: typecheck, check-api-package-ts, check-i18n-package-ts, check-dashboard-package-ts

fix: hero section #305
  packages/i18n/src/messages/themes/aiedu/homepage.ts
  packages/i18n/src/messages/themes/aiedu/index.ts
  packages/i18n/src/messages/themes/aiedu/introduction.ts
  packages/themes/src/_config/theme-page-initial/aiedu/homepage.ts
  packages/themes/src/aiedu/homepage/aiedu-hero/aiedu-hero.tsx
Due: typecheck, check-i18n-package-ts, check-themes-package-ts

fix: fix bug schedule
  packages/dashboard/src/admin/schedule/_components/schedule-setting-event-list.tsx
Due: typecheck, check-dashboard-package-ts

fix: fix bug schedule
  packages/api/src/schemas/scheduleSchema.ts
  packages/core/src/utils/datetime.ts
  packages/dashboard/src/admin/schedule/_components/schedule-setting-event-list.tsx
  packages/i18n/src/messages/pages/schedule.ts
Due: typecheck, check-api-package-ts, check-core-package-ts, check-i18n-package-ts, check-dashboard-package-ts

fix: unable to import many consecutive characters for field answer #374
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/quiz-editor/quiz-question-modal.tsx
Due: typecheck, check-dashboard-package-ts

fix: course detail can not scroll #368
  apps/organization/.env.development
  apps/platform/.env.development
  packages/config/tailwindcss/styles/global.css
  packages/core/src/styles/utils.css
  packages/dashboard/src/admin/site-settings/languages/_hooks.ts
  packages/dashboard/src/creator/courses/course-detail/information/page.tsx
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/lesson-contents.tsx
  packages/dashboard/src/creator/courses/course-detail/outline/lessons/lessons-panel.tsx
  packages/themes/src/aiedu/homepage/aiedu-hero/aiedu-hero.tsx
Due: typecheck, check-themes-package-ts, check-dashboard-package-ts

fix: fix ui #305
  packages/dashboard/src/admin/site-settings/languages/_hooks.ts
  packages/dashboard/src/admin/site-settings/languages/_store/useLanguageStore.ts
  packages/themes/src/aiedu/homepage/aiedu-hero/aiedu-hero.tsx
Due: typecheck, check-themes-package-ts, check-dashboard-package-ts

fix: upgrade img qulaity at intro page #305
  packages/themes/src/aiedu/introduction/aiedu-goal/goal.tsx
Due: typecheck, check-themes-package-ts

fix: congif marked - renderer table
  packages/ui/src/components/conversation/message-actions/copy.tsx
  packages/ui/src/components/conversation/prompt/prompt-popup.tsx
  packages/ui/src/utils/marker.ts
Due: typecheck, check-ui-package-ts

fix: check mix-max characters at course detail #368
  packages/api/src/schemas/courses/createCourseSchema.ts
  packages/i18n/src/messages/features/course.ts
  packages/ui/src/components/rich-text/editor.tsx
Due: typecheck, check-api-package-ts, check-ui-package-ts, check-i18n-package-ts

fix(ai): accept upload only image files
  packages/ui/src/components/conversation/message-input/input-file.tsx
  packages/ui/src/components/conversation/message/ai-message.tsx
Due: typecheck, check-ui-package-ts

fix: switch lesson status at course #368
  packages/dashboard/src/creator/courses/course-detail/_hooks/useLessonActions.ts
Due: typecheck, check-dashboard-package-ts
